Repository mfe-orchestrator/mfe-orchestrator: changes, and which lefthook commands are due for each by the changed paths.
All: lint-and-format, typecheck-backend, typecheck-frontend

lefthook.yml:

# Lefthook configuration
# See: https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md

pre-commit:
  parallel: true
  commands:
    lint-and-format:
      glob: "{backend,frontend}/**/*.{js,ts,tsx,json}"
      run: "pnpm exec biome check --write --staged {staged_files}"
      stage_fixed: true

    typecheck-backend:
      root: "backend/"
      glob: "**/*.{ts,tsx}"
      run: "pnpm exec tsc --noEmit"

    typecheck-frontend:
      root: "frontend/"
      glob: "**/*.{ts,tsx}"
      run: "pnpm exec tsc --noEmit"

commit-msg:
  commands:
    commitlint:
      run: "pnpm exec commitlint --edit"

fix(telemetry): send pings to the backoffice and clarify the direction
  CHANGELOG.md
  README.md
  backend/src/controller/TelemetryController.ts
  backend/src/plugins/telemetry.ts
  backend/src/types/TelemetryDTO.ts
  backend/src/utils/telemetry.ts
  docs/TELEMETRY.md
Due: lint-and-format, typecheck-backend

feat: add @mfe-orchestrator/design-system 1.0.0 from GitHub Packages
  .github/workflows/deploy.yml
  .github/workflows/docker-build.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/monorepo-build.yml
  .npmrc
  frontend/package.json
  pnpm-lock.yaml
Due: none

fix(telemetry): point the default endpoint at the dedicated telemetry service
  README.md
  backend/src/utils/telemetry.ts
  docs/TELEMETRY.md
Due: lint-and-format, typecheck-backend

feat(docker): add a self contained all-in-one image
  .dockerignore
  .github/workflows/docker-build.yml
  CHANGELOG.md
  Dockerfile.all-in-one
  DockerfileComplete
  README.md
  docker/all-in-one/entrypoint.sh
  docker/all-in-one/mongod.conf
  docker/all-in-one/quit-on-fatal.py
  docker/all-in-one/redis.conf
  docker/all-in-one/start-backend.sh
  docker/all-in-one/start-mongod.sh
  docker/all-in-one/start-redis.sh
  docker/all-in-one/supervisord.conf
  nginx/nginx.conf
  startComplete.sh
Due: none

feat(microfrontend): bulk import repositories from a code repository connection
  CHANGELOG.md
  backend/src/client/GithubClient.ts
  backend/src/client/GitlabClient.ts
  backend/src/controller/CodeRepositoryController.ts
  backend/src/service/CodeRepositoryImportService.ts
  backend/src/types/ImportRepositoriesDTO.ts
  backend/src/utils/codeRepositoryUtils.ts
  frontend/public/locales/en/platform.json
  frontend/public/locales/it/platform.json
  frontend/src/hooks/apiClients/useCodeRepositoriesApi.ts
  frontend/src/pages/microfrontends/Microfrontends.tsx
  frontend/src/pages/microfrontends/partials/components/ImportRepositoriesDialog.tsx
  frontend/src/pages/microfrontends/partials/components/MicrofrontendsEmptyState.tsx
  frontend/src/pages/microfrontends/partials/components/index.ts
Due: lint-and-format, typecheck-backend, typecheck-frontend

feat(helm): add an installation chart with every env variable in values.yaml
  .gitignore
  README.md
  helm/mfe-orchestrator/.helmignore
  helm/mfe-orchestrator/Chart.yaml
  helm/mfe-orchestrator/README.md
  helm/mfe-orchestrator/templates/NOTES.txt
  helm/mfe-orchestrator/templates/_helpers.tpl
  helm/mfe-orchestrator/templates/configmap.yaml
  helm/mfe-orchestrator/templates/deployment.yaml
  helm/mfe-orchestrator/templates/hpa.yaml
  helm/mfe-orchestrator/templates/ingress.yaml
  helm/mfe-orchestrator/templates/pvc.yaml
  helm/mfe-orchestrator/templates/secret.yaml
  helm/mfe-orchestrator/templates/service.yaml
  helm/mfe-orchestrator/templates/serviceaccount.yaml
  helm/mfe-orchestrator/templates/tests/test-connection.yaml
  helm/mfe-orchestrator/values.yaml
Due: none

docs: refresh the README as a landing page
  README.md
  docs/assets/promo-video.gif
Due: none

chore: update graphify knowledge graph
  graphify-out/.graphify_labels.json
  graphify-out/.graphify_root
  graphify-out/2026-08-06/.graphify_labels.json
  graphify-out/2026-08-06/GRAPH_REPORT.md
  graphify-out/2026-08-06/cost.json
  graphify-out/2026-08-06/graph.json
  graphify-out/2026-08-06/manifest.json
  graphify-out/cache/ast/v0.9.7/022a357e0b91f0b992c0d4219b4da9661b39657076da32fdf9b618fcb50f3ecd.json
  graphify-out/cache/ast/v0.9.7/1e7b29c209581b97118fe63af82ef11a1befa10823eb4eeaacbaa012a1beeeb7.json
  graphify-out/cache/ast/v0.9.7/3612256e7473a2e5f67ef4778d4edeefb44794ef22bac5529bee9c87dc5d8f3d.json
  graphify-out/cache/ast/v0.9.7/41cc3067e85fd0cc7591888378381ab572d240f4f3b7e2df27193a6a1d456974.json
  graphify-out/cache/ast/v0.9.7/445df343e3107b8d6ee2b1738083672430dfa91db3c27229f69595cf149b7134.json
  graphify-out/cache/ast/v0.9.7/46fb9612a2554e6c67b3202947516d130b847762b2627033898ad9a9fb5e0fc0.json
  graphify-out/cache/ast/v0.9.7/481dd6fb44182953b8a3789f4238eebca7ad174439e0a5cc495e0c865b53eea1.json
  graphify-out/cache/ast/v0.9.7/69d83956a9f6f4fefa3bacc50777419508f9401ec5e7b27c5621378cb0d3a6a6.json
  graphify-out/cache/ast/v0.9.7/713ddad16669aa3babbbf11665d44734eaf3ebc3cd27162578487403861268c0.json
  graphify-out/cache/ast/v0.9.7/75ad2fc247b215f201d6e60dbc1cffb8360be968a8fc503f28fb133f750a0395.json
  graphify-out/cache/ast/v0.9.7/7e27d1dd917a8f88c101f9ad182e6f98881b8040b3e292ab9ceddf8af074b60f.json
  graphify-out/cache/ast/v0.9.7/83f9521597a36b940f4c06dde587394185975f07704192a933991d54bc2aab07.json
  graphify-out/cache/ast/v0.9.7/9354355e61920085e8c8e4e37d9c9c7ed1f4bcb57e604922caef76cea0eb369d.json
  graphify-out/cache/ast/v0.9.7/a299250439236b91c3a207212025bfcec4820bf4439348fd32d23ad1bec5daa2.json
  graphify-out/cache/ast/v0.9.7/c103e89492c7279071462c35d86269f7847709297eca1e7e457de487859da654.json
  graphify-out/cache/ast/v0.9.7/fef7e8da11d7fc65f9edd818d96e1b6c28fa000f8e510035e56bf49238a04b4a.json
  graphify-out/cache/stat-index.json
  graphify-out/graph.html
  graphify-out/graph.json
Due: none

feat: align transactional emails with the design system
  backend/src/templates/emails/account-activation.pug
  backend/src/templates/emails/base-email.pug
  backend/src/templates/emails/password-reset.pug
  backend/src/templates/emails/project-invitation.pug
Due: none

feat: removed double index
  backend/src/models/WizardProjectState.ts
Due: lint-and-format, typecheck-backend

fix(telemetry): guarantee the ping always carries a valid installation id
  backend/src/plugins/telemetry.ts
  backend/src/service/TelemetryService.ts
  graphify-out/2026-08-06/.graphify_labels.json
  graphify-out/2026-08-06/GRAPH_REPORT.md
  graphify-out/2026-08-06/graph.json
  graphify-out/2026-08-06/manifest.json
  graphify-out/GRAPH_REPORT.md
  graphify-out/cache/stat-index.json
  graphify-out/graph.json
  graphify-out/manifest.json
Due: lint-and-format, typecheck-backend

feat: updated graphify
  graphify-out/2026-08-06/.graphify_labels.json
  graphify-out/2026-08-06/manifest.json
  graphify-out/cache/stat-index.json
  graphify-out/manifest.json
Due: none

fix: login issue
  frontend/src/authentication/components/LoginPage.tsx
  graphify-out/cache/stat-index.json
  graphify-out/manifest.json
Due: lint-and-format, typecheck-frontend

feat: updated i18n and fix team mates
  CLAUDE.md
  frontend/public/locales/en/platform.json
  frontend/public/locales/it/platform.json
  frontend/src/pages/auth/ProjectInvitation.tsx
  frontend/src/pages/new-project-wizard/NewProjectWizard.tsx
  frontend/src/pages/new-project-wizard/pages/CodeRepositories.tsx
  frontend/src/pages/new-project-wizard/pages/Completed.tsx
  frontend/src/pages/new-project-wizard/pages/Environments.tsx
  frontend/src/pages/new-project-wizard/pages/Hosting.tsx
  frontend/src/pages/new-project-wizard/pages/MainData.tsx
  frontend/src/pages/new-project-wizard/pages/TeamMates.tsx
  frontend/src/pages/new-project-wizard/pages/wizardShared.tsx
  frontend/src/pages/storages/AddStorage.tsx
  graphify-out/.graphify_labels.json
  graphify-out/2026-08-06/.graphify_labels.json
  graphify-out/2026-08-06/GRAPH_REPORT.md
  graphify-out/2026-08-06/graph.json
  graphify-out/2026-08-06/manifest.json
  graphify-out/GRAPH_REPORT.md
  graphify-out/cache/ast/v0.9.7/d9a8d9ba8b7adecbed30aef074e5f68fea6ca740592aab2158c584671b3b851a.json
  graphify-out/cache/stat-index.json
  graphify-out/graph.html
  graphify-out/graph.json
  graphify-out/manifest.json
Due: lint-and-format, typecheck-frontend

feat: canno invte yourself
  frontend/public/locales/en/platform.json
  frontend/public/locales/it/platform.json
  frontend/src/pages/project-users/partials/AddUserButton.tsx
  graphify-out/.graphify_labels.json
  graphify-out/2026-08-06/.graphify_labels.json
  graphify-out/2026-08-06/GRAPH_REPORT.md
  graphify-out/2026-08-06/graph.json
  graphify-out/2026-08-06/manifest.json
  graphify-out/GRAPH_REPORT.md
  graphify-out/cache/ast/v0.9.7/d9a8d9ba8b7adecbed30aef074e5f68fea6ca740592aab2158c584671b3b851a.json
  graphify-out/cache/stat-index.json
  graphify-out/graph.html
  graphify-out/graph.json
  graphify-out/manifest.json
Due: lint-and-format, typecheck-frontend

feat: canno invte yourself
  graphify-out/.graphify_labels.json
  graphify-out/cache/stat-index.json
  graphify-out/manifest.json
Due: none

feat: updated github connection
  backend/src/client/GithubClient.ts
  backend/src/controller/CodeRepositoryController.ts
  backend/src/service/CodeRepositoryService.ts
  frontend/public/locales/en/platform.json
  frontend/public/locales/it/platform.json
  frontend/src/hooks/apiClients/useCodeRepositoriesApi.ts
  frontend/src/pages/auth/ProjectInvitation.tsx
  frontend/src/pages/code-repositories/AddGitHub.tsx
  frontend/src/pages/code-repositories/partials/AddRepositoryDialog.tsx
  graphify-out/.graphify_labels.json
  graphify-out/2026-08-06/.graphify_labels.json
  graphify-out/2026-08-06/GRAPH_REPORT.md
  graphify-out/2026-08-06/graph.json
  graphify-out/2026-08-06/manifest.json
  graphify-out/GRAPH_REPORT.md
  graphify-out/cache/stat-index.json
  graphify-out/graph.html
  graphify-out/graph.json
  graphify-out/manifest.json
Due: lint-and-format, typecheck-backend, typecheck-frontend

feat: updated github connection
  graphify-out/.graphify_labels.json
  graphify-out/2026-08-06/.graphify_labels.json
  graphify-out/2026-08-06/manifest.json
  graphify-out/cache/stat-index.json
  graphify-out/manifest.json
Due: none

fix: ci
  .github/workflows/docker-build.yml
  .github/workflows/monorepo-build.yml
Due: none

fix: ci
  .github/workflows/deploy.yml
Due: none

chore: updated deps
  backend/package.json
  backend/src/models/WizardProjectState.ts
  e2e/package.json
  frontend/package.json
  frontend/src/components/ui/Sidebar/partials/UserButton.tsx
  graphify-out/.graphify_labels.json
  graphify-out/2026-08-07/.graphify_labels.json
  graphify-out/2026-08-07/GRAPH_REPORT.md
  graphify-out/2026-08-07/cost.json
  graphify-out/2026-08-07/graph.json
  graphify-out/2026-08-07/manifest.json
  graphify-out/cache/ast/v0.9.7/a22d92087c39282071e327514bd96b97ec89a39665c071a1f3f5ae43e3dacb76.json
  graphify-out/cache/ast/v0.9.7/b5beabbc5ab81c02d288330fd01c5ea020d4ec40c60039719cbc9e4e9629258b.json
  graphify-out/cache/ast/v0.9.7/bfcaa4b2cd082410655a2fdbf9e3fd9cd2b43275b0fd4ed115bd44ecef8d9f15.json
  graphify-out/cache/ast/v0.9.7/ee28a9c10920f7c75e697d4970fe09b3f360bf638da0550e2adddf08d932162e.json
  graphify-out/cache/stat-index.json
  graphify-out/graph.html
  graphify-out/manifest.json
  package.json
  pnpm-lock.yaml
Due: lint-and-format, typecheck-backend, typecheck-frontend

chore: updated desp 2
  graphify-out/.graphify_labels.json
  graphify-out/2026-08-07/cost.json
  graphify-out/cache/ast/v0.9.7/a22d92087c39282071e327514bd96b97ec89a39665c071a1f3f5ae43e3dacb76.json
  graphify-out/cache/ast/v0.9.7/b5beabbc5ab81c02d288330fd01c5ea020d4ec40c60039719cbc9e4e9629258b.json
  graphify-out/cache/ast/v0.9.7/bfcaa4b2cd082410655a2fdbf9e3fd9cd2b43275b0fd4ed115bd44ecef8d9f15.json
  graphify-out/cache/ast/v0.9.7/ee28a9c10920f7c75e697d4970fe09b3f360bf638da0550e2adddf08d932162e.json
  graphify-out/cache/stat-index.json
  graphify-out/manifest.json
  package.json
Due: none

feat: removed break
  backend/src/service/ServeService.ts
  frontend/src/hooks/apiClients/useProjectApi.ts
Due: lint-and-format, typecheck-backend, typecheck-frontend

fix: error intercepted
  backend/src/client/GoogleStorageAccount.ts
  graphify-out/.graphify_labels.json
  graphify-out/2026-08-07/.graphify_labels.json
  graphify-out/2026-08-07/GRAPH_REPORT.md
  graphify-out/2026-08-07/cost.json
  graphify-out/2026-08-07/graph.json
  graphify-out/2026-08-07/manifest.json
  graphify-out/GRAPH_REPORT.md
  graphify-out/cache/ast/v0.9.7/adf1e9f5f740b9b6b003ca2624ca105a10431a045d0d2fef2054ee74e017e134.json
  graphify-out/cache/stat-index.json
  graphify-out/graph.html
  graphify-out/graph.json
  graphify-out/manifest.json
Due: lint-and-format, typecheck-backend

fix: error intercepted
  graphify-out/.graphify_labels.json
  graphify-out/2026-08-07/cost.json
  graphify-out/cache/ast/v0.9.7/adf1e9f5f740b9b6b003ca2624ca105a10431a045d0d2fef2054ee74e017e134.json
  graphify-out/cache/stat-index.json
  graphify-out/manifest.json
Due: none

fix: 429
  frontend/public/locales/en/platform.json
  frontend/public/locales/it/platform.json
  frontend/src/components/ui/input/input.tsx
  frontend/src/pages/code-repositories/GitHubCallbackPage.tsx
  graphify-out/.graphify_labels.json
  graphify-out/2026-08-07/.graphify_labels.json
  graphify-out/2026-08-07/GRAPH_REPORT.md
  graphify-out/2026-08-07/graph.json
  graphify-out/2026-08-07/manifest.json
  graphify-out/GRAPH_REPORT.md
  graphify-out/cache/ast/v0.9.7/053c51f5e08f5a4736b6a1d167e7eb83a973d084b46c8106189115a2a9f253bd.json
  graphify-out/cache/ast/v0.9.7/29cf08da565352ea7da5833bc801e7deed58445b91ae195c35055f3f6dd6f474.json
  graphify-out/cache/ast/v0.9.7/4de5d7a9ce5f2ed9f6d49141869a05bba300f92d88659de9eaef16bf3cf03035.json
  graphify-out/cache/ast/v0.9.7/ad3d2e912c65bd17526563b714f4d22201ad5e2be3b6702945a0c6e7c33016f9.json
  graphify-out/cache/ast/v0.9.7/b670a83429d2b17a53a15ef83621180dcb6f3a14b339fb2149a529dd1f3a1710.json
  graphify-out/cache/ast/v0.9.7/e6e47e7eabe43c09cb51a952fd8cf634f35db4d6744de70dd3369ee67f85eb68.json
  graphify-out/cache/ast/v0.9.7/fba13ec64c8eb3ec07ee9ba8448268a2717ee271dd216a50718f082a4608bd17.json
  graphify-out/cache/stat-index.json
  graphify-out/graph.html
  graphify-out/graph.json
  graphify-out/manifest.json
Due: lint-and-format, typecheck-frontend

fix: 429
  graphify-out/.graphify_labels.json
  graphify-out/cache/ast/v0.9.7/053c51f5e08f5a4736b6a1d167e7eb83a973d084b46c8106189115a2a9f253bd.json
  graphify-out/cache/ast/v0.9.7/29cf08da565352ea7da5833bc801e7deed58445b91ae195c35055f3f6dd6f474.json
  graphify-out/cache/ast/v0.9.7/4de5d7a9ce5f2ed9f6d49141869a05bba300f92d88659de9eaef16bf3cf03035.json
  graphify-out/cache/ast/v0.9.7/ad3d2e912c65bd17526563b714f4d22201ad5e2be3b6702945a0c6e7c33016f9.json
  graphify-out/cache/ast/v0.9.7/b670a83429d2b17a53a15ef83621180dcb6f3a14b339fb2149a529dd1f3a1710.json
  graphify-out/cache/ast/v0.9.7/e6e47e7eabe43c09cb51a952fd8cf634f35db4d6744de70dd3369ee67f85eb68.json
  graphify-out/cache/ast/v0.9.7/fba13ec64c8eb3ec07ee9ba8448268a2717ee271dd216a50718f082a4608bd17.json
  graphify-out/cache/stat-index.json
  graphify-out/manifest.json
Due: none

fix: featch repositroy loop
  frontend/public/locales/en/platform.json
  frontend/public/locales/it/platform.json
  frontend/src/pages/microfrontends/partials/components/CodeRepositorySection.tsx
  graphify-out/.graphify_labels.json
  graphify-out/2026-08-07/.graphify_labels.json
  graphify-out/2026-08-07/GRAPH_REPORT.md
  graphify-out/2026-08-07/graph.json
  graphify-out/2026-08-07/manifest.json
  graphify-out/GRAPH_REPORT.md
  graphify-out/cache/stat-index.json
  graphify-out/graph.html
  graphify-out/graph.json
  graphify-out/manifest.json
Due: lint-and-format, typecheck-frontend

fix: clone repository popover
  frontend/src/pages/microfrontends/partials/components/CloneRepositoryPopover.tsx
  frontend/src/pages/microfrontends/partials/views/MicrofrontendsFlow.tsx
  graphify-out/.graphify_labels.json
  graphify-out/2026-08-07/.graphify_labels.json
  graphify-out/2026-08-07/GRAPH_REPORT.md
  graphify-out/2026-08-07/graph.json
  graphify-out/2026-08-07/manifest.json
  graphify-out/GRAPH_REPORT.md
  graphify-out/cache/stat-index.json
  graphify-out/graph.html
  graphify-out/graph.json
  graphify-out/manifest.json
Due: lint-and-format, typecheck-frontend

feat(dependencies): let each microfrontend be compared on a chosen branch
  backend/src/controller/MicrofrontendDependencyController.ts
  backend/src/service/MicrofrontendDependencyService.ts
  backend/src/types/MicrofrontendDependencyDTO.ts
  docs/DEPENDENCIES.md
  frontend/public/locales/en/platform.json
  frontend/public/locales/it/platform.json
  frontend/src/hooks/apiClients/useDependenciesApi.ts
  frontend/src/pages/dependencies/Dependencies.tsx
  frontend/src/pages/dependencies/partials/AlignPeerDependenciesDialog.tsx
  frontend/src/pages/dependencies/partials/BranchSelection.tsx
  frontend/src/pages/dependencies/partials/MicrofrontendDependencyList.tsx
  frontend/src/pages/dependencies/partials/index.ts
Due: lint-and-format, typecheck-backend, typecheck-frontend

feat(dependencies): scan microfrontend repositories and align peer dependencies
  README.md
  backend/src/client/AzureDevOpsClient.ts
  backend/src/client/GithubClient.ts
  backend/src/client/GitlabClient.ts
  backend/src/client/NpmRegistryClient.ts
  backend/src/controller/MicrofrontendDependencyController.ts
  backend/src/service/MicrofrontendDependencyService.ts
  backend/src/types/MicrofrontendDependencyDTO.ts
  backend/src/utils/semverUtils.ts
  docs/DEPENDENCIES.md
  frontend/public/locales/en/platform.json
  frontend/public/locales/it/platform.json
  frontend/src/Routes.tsx
  frontend/src/hooks/apiClients/useDependenciesApi.ts
  frontend/src/pages/dependencies/Dependencies.tsx
  frontend/src/pages/dependencies/partials/AlignPeerDependenciesDialog.tsx
  frontend/src/pages/dependencies/partials/DependencyAlignmentTable.tsx
  frontend/src/pages/dependencies/partials/DependencyStatusBadge.tsx
  frontend/src/pages/dependencies/partials/MicrofrontendDependencyList.tsx
  frontend/src/pages/dependencies/partials/index.ts
  frontend/src/theme/layout/MainLayout.tsx
Due: lint-and-format, typecheck-backend, typecheck-frontend

chore: update graphify graph after dependency-check merge
  graphify-out/.graphify_labels.json
  graphify-out/2026-08-07/.graphify_labels.json
  graphify-out/2026-08-07/GRAPH_REPORT.md
  graphify-out/2026-08-07/graph.json
  graphify-out/2026-08-07/manifest.json
  graphify-out/GRAPH_REPORT.md
  graphify-out/cache/ast/v0.9.7/3f400a519b2112fccbbe6fa2e8d5097623fc6427e99b79b641e7f86097003f0f.json
  graphify-out/cache/ast/v0.9.7/4cf394942c2a6c312485b243aa086fcbd4ddc00282c658045e24e194ce543ba2.json
  graphify-out/cache/ast/v0.9.7/6ccbd5a24cf16858036003e306fd8f4b0b0dcc737fa71ab7282ebdf4875eec5d.json
  graphify-out/cache/ast/v0.9.7/a271ff49eea5c83b8fc0b232a5863c8c1775c01c9b7a1634f050c9cd48006ebc.json
  graphify-out/cache/stat-index.json
  graphify-out/graph.html
  graphify-out/graph.json
  graphify-out/manifest.json
Due: none

feat: eye on and eye off
  frontend/graphify-out/.graphify_labels.json
  frontend/graphify-out/.graphify_root
  frontend/graphify-out/GRAPH_REPORT.md
  frontend/graphify-out/cache/ast/v0.9.7/28cf803ea956f7798b5df30d8b751694f61ce80c1472ca21e7c24a7101117804.json
  frontend/graphify-out/cache/ast/v0.9.7/2c9ef7fabf7d58eeac7aa2305a6d788b4ce8f367cbce971ff14df7578af0ce81.json
  frontend/graphify-out/cache/ast/v0.9.7/380ca4ae9187e3b36588560b0cd8475181987fa7cecb5dd63ff6ca95901dc3a5.json
  frontend/graphify-out/cache/ast/v0.9.7/75f87efcdbf1b3e08f07d22b55a615ff89366a6379afaf452d96afc68ace34d6.json
  frontend/graphify-out/cache/ast/v0.9.7/c98e3fefcd1b3d664405d8522e62b270c40ab4812bde3f41726dc8417bacdf3d.json
  frontend/graphify-out/cache/ast/v0.9.7/ca4e3f8cc30885de331a4af3d1c0ec2ea0674613f611e1cb052e945929f4fdcf.json
  frontend/graphify-out/cache/ast/v0.9.7/cb2a38ef2aada5adff2d9bb4ebdd2cb40c920a52da5e80684448680b8272e699.json
  frontend/graphify-out/cache/ast/v0.9.7/f777922e59f1c703869d9a7b10505ec20a787187647bcd3a05023622b08721ea.json
  frontend/graphify-out/cache/stat-index.json
  frontend/graphify-out/graph.html
  frontend/graphify-out/graph.json
  frontend/graphify-out/manifest.json
  frontend/public/locales/en/platform.json
  frontend/public/locales/it/platform.json
  frontend/src/components/input/TextField.rhf.tsx
Due: lint-and-format, typecheck-frontend

feat: eyes on secrets
  frontend/src/components/input/TextField.rhf.tsx
  frontend/src/components/input/TextareaField.rhf.tsx
  frontend/src/pages/storages/AddStorage.tsx
  graphify-out/.graphify_labels.json
  graphify-out/2026-08-07/.graphify_labels.json
  graphify-out/2026-08-07/GRAPH_REPORT.md
  graphify-out/2026-08-07/graph.json
  graphify-out/2026-08-07/manifest.json
  graphify-out/GRAPH_REPORT.md
  graphify-out/cache/ast/v0.9.7/57f8393f638358ae5342bd45ac6ed6fbe66bd6f0b747828afb9cda71435ca15e.json
  graphify-out/cache/ast/v0.9.7/b39e37bfd825b1dea447077f46e460f081e5dc00f4a2e29948eb84b9b763ce2f.json
  graphify-out/cache/stat-index.json
  graphify-out/graph.html
  graphify-out/graph.json
  graphify-out/manifest.json
Due: lint-and-format, typecheck-frontend

chore: aggiorna il grafo graphify dopo la migrazione al design system
  graphify-out/.graphify_labels.json
  graphify-out/cache/ast/v0.9.7/bfb71566fad1d89ca09351a45be95cb452482166963d74496bb10b17a7ca0165.json
  graphify-out/cache/stat-index.json
  graphify-out/manifest.json
Due: none
