Repository mfe-orchestrator/mfe-orchestrator: changes, and which lefthook commands are due for each by the changed paths.
All: lint-and-format, typecheck-backend, typecheck-frontend

lint-and-format:
  run: pnpm exec biome check --write --staged {staged_files}
  stage_fixed: true

typecheck-backend:
  run: pnpm exec tsc --noEmit

typecheck-frontend:
  run: pnpm exec tsc --noEmit

feat(integration): write the global variables script into host documents
  backend/src/controller/IntegrationController.ts
  backend/src/service/FederationIntegrationService.ts
  frontend/public/locales/en/platform.json
  frontend/public/locales/it/platform.json
  frontend/src/hooks/apiClients/useIntegrationApi.ts
  frontend/src/pages/integration/partials/components/IntegrateMicrofrontendsDialog.tsx
  frontend/src/pages/integration/partials/views/EnvironmentVariablesIntegration.tsx
Due: lint-and-format, typecheck-backend, typecheck-frontend

feat(microfrontends): show the host as an icon and widen the canary cell
  frontend/src/pages/microfrontends/partials/views/MicrofrontendsTable.tsx
Due: lint-and-format, typecheck-frontend

feat(canary): bulk enable, disable and remove of canary users
  frontend/src/pages/deployments/CanaryUsers.tsx
Due: lint-and-format, typecheck-frontend

chore: refresh the knowledge graph
  graphify-out/.graphify_labels.json
  graphify-out/2026-08-16/.graphify_labels.json
  graphify-out/2026-08-16/GRAPH_REPORT.md
  graphify-out/2026-08-16/graph.json
  graphify-out/2026-08-16/manifest.json
  graphify-out/GRAPH_REPORT.md
  graphify-out/cache/ast/v0.9.7/06553e4afea6070b4d9a6e74ee42fe4542b7e36fe8572099c1c61e4aef32e836.json
  graphify-out/cache/ast/v0.9.7/266d649342faab948abc8befa370eecd797ebd5144ce5adae5e46973c05ff523.json
  graphify-out/cache/ast/v0.9.7/3fa36d2bf326c201fd20a0854d45ddf459954fe1b76b3f98bc5ae88ebfdfe96e.json
  graphify-out/cache/ast/v0.9.7/4d3789ca325d12af462872d01779400c8eb3594ff220e05635c11aebaaf58aad.json
  graphify-out/cache/ast/v0.9.7/f14bfb413c0e7a71cc85a619a783b694957db2b7c98ad9df109206a75391868d.json
  graphify-out/cache/ast/v0.9.7/fae348c46d99f56fc76f1a7917a5b2996facf8060b4a04b6d783ff308441fcb0.json
  graphify-out/cache/stat-index.json
  graphify-out/graph.html
  graphify-out/graph.json
  graphify-out/manifest.json
Due: none

feat(sidebar): show the MFE Orchestrator logo in the header
  frontend/public/img/logo.png
  frontend/src/components/ui/Sidebar/Sidebar.tsx
Due: lint-and-format, typecheck-frontend

chore: refresh the knowledge graph
  graphify-out/cache/stat-index.json
  graphify-out/manifest.json
Due: none

feat(integration): name the logged in user in the generated bootstrap
  backend/src/service/FederationConfigService.ts
Due: lint-and-format, typecheck-backend

chore: refresh the knowledge graph
  graphify-out/.graphify_labels.json
  graphify-out/2026-08-16/.graphify_labels.json
  graphify-out/2026-08-16/GRAPH_REPORT.md
  graphify-out/2026-08-16/graph.json
  graphify-out/2026-08-16/manifest.json
  graphify-out/GRAPH_REPORT.md
  graphify-out/cache/stat-index.json
  graphify-out/graph.html
  graphify-out/graph.json
  graphify-out/manifest.json
Due: none

feat(profile): add the user profile page
  frontend/public/locales/en/platform.json
  frontend/public/locales/it/platform.json
  frontend/src/Routes.tsx
  frontend/src/pages/profile/Profile.tsx
  frontend/src/pages/profile/partials/AvatarSection.tsx
  frontend/src/pages/profile/partials/index.ts
Due: lint-and-format, typecheck-frontend

ci: stop running the monorepo build on pull requests
  .github/workflows/monorepo-build.yml
Due: none

test(profile): cover the profile page end to end and the avatar rules
  backend/src/service/UserService.test.ts
  e2e/tests/fixtures/appUser.ts
  e2e/tests/profile/profile.spec.ts
  frontend/src/pages/profile/partials/AvatarSection.tsx
  frontend/src/pages/profile/partials/PersonalDataSection.tsx
Due: lint-and-format, typecheck-backend, typecheck-frontend

build(docker): silence the pnpm update notifier in image builds
  Dockerfile
  Dockerfile.all-in-one
Due: none

fix(canary): keep the enrolled users across a new deployment
  backend/src/service/DeploymentCanaryUsersService.test.ts
  backend/src/service/DeploymentCanaryUsersService.ts
  backend/src/service/DeploymentService.ts
Due: lint-and-format, typecheck-backend

refactor(microfrontends): drop the canary type badges from the card
  frontend/src/pages/microfrontends/partials/components/MicrofrontendCard.tsx
Due: lint-and-format, typecheck-frontend

docs(changelog): add the 3.0.0 entry
  CHANGELOG.md
Due: none

docs: cover the 3.x features and reconcile the existing pages
  .cursorrules
  .github/copilot-instructions.md
  .windsurf/rules.md
  README.md
  docs/BUILDS.md
  docs/CANARY.md
  docs/DEPENDENCIES.md
  docs/INTEGRATION.md
  docs/REPOSITORY-IMPORT.md
  docs/TELEMETRY.md
  docs/assets/canary-strategies.png
  docs/assets/canary-users.png
  docs/assets/deployments.png
  docs/assets/integration-global-variables.png
  docs/assets/integration-module-federation.png
  docs/assets/microfrontends-dashboard.png
  docs/assets/microfrontends-flow.png
  docs/assets/profile-page.png
  e2e/README.md
Due: none

build: pin the deployable infrastructure to 3.1.0
  docker-compose.yaml
  docker-local/docker-compose-development.yaml
  helm/mfe-orchestrator/Chart.yaml
  terraform/modules/microfronted-orchestrator-hub.tf
Due: none

docs(changelog): add the 3.1.0 entry and the unreleased changes
  CHANGELOG.md
Due: none

fix(helm): align the chart values with the configuration schema
  helm/mfe-orchestrator/README.md
  helm/mfe-orchestrator/templates/NOTES.txt
  helm/mfe-orchestrator/values.yaml
Due: none

feat(profile): let the user change the marketing consent
  CHANGELOG.md
  README.md
  e2e/tests/fixtures/appUser.ts
  e2e/tests/profile/profile.spec.ts
  frontend/public/locales/en/platform.json
  frontend/public/locales/it/platform.json
  frontend/src/pages/profile/Profile.tsx
  frontend/src/pages/profile/partials/MarketingConsentSection.tsx
  frontend/src/pages/profile/partials/index.ts
Due: lint-and-format, typecheck-frontend

chore: refresh the knowledge graph
  graphify-out/.graphify_labels.json
  graphify-out/2026-08-16/.graphify_labels.json
  graphify-out/2026-08-16/GRAPH_REPORT.md
  graphify-out/2026-08-16/graph.json
  graphify-out/2026-08-16/manifest.json
  graphify-out/GRAPH_REPORT.md
  graphify-out/cache/ast/v0.9.7/09ef537496090cc80c60a61fb950e4b8368ff1539cb779f3ac064e296aa56d62.json
  graphify-out/cache/ast/v0.9.7/1ff27e24147459a60b1ef62056602a046ca08a230bb0f71b37685a5fd99be80c.json
  graphify-out/cache/ast/v0.9.7/28108662a5dd0e5c1626dee1d86e76f048a07081927bf7f3c0a4a52b17b73668.json
  graphify-out/cache/ast/v0.9.7/3af16b8f81952fea65c8c6500c3361570305aeed71cf0bb51a23417874c087b6.json
  graphify-out/cache/ast/v0.9.7/4cc847fd4ce0e1983e15a713e4faf45615a523f293643a05f5cbb71b6a3e999d.json
  graphify-out/cache/ast/v0.9.7/66aa0c77e17e3d439fc731bc402f7a611017944bb571edd77eaf6394f59edba3.json
  graphify-out/cache/ast/v0.9.7/853ccedaec05c6a8679e2a5a06d272cbbb1b873f3844da1e9ef89b2297302c2c.json
  graphify-out/cache/ast/v0.9.7/b1f73f67d99eab5da7cd79df5f63bcf9d9bc4fad95d5e1b0a4d4929d2eb305d9.json
  graphify-out/cache/ast/v0.9.7/b266b4ac394e48d3180063363256f8ef31129b3a2e509a6e1095dc0239eb804f.json
  graphify-out/cache/ast/v0.9.7/c7d7d780907272127acf7b7eb6ee2a3a3c3f919042470cdd62b2b922aba80a5b.json
  graphify-out/cache/ast/v0.9.7/de583a38d71edba8510893c91b21ef55edc66f3a09eba4d09e031ccca49006d4.json
  graphify-out/cache/ast/v0.9.7/e2b627572b521b19235bfb8bba0d64bbea42d72e71c5ad77cab4fd04b68a2aee.json
  graphify-out/cache/ast/v0.9.7/e42265a36fb19bf7f20b7a3fdbea8ae086b20a1d6dc84d2fe551fa33115dca8e.json
  graphify-out/cache/ast/v0.9.7/f747fadafb65e7449335bf162c213666aeb4a241bf281833b8cc4233efeb1780.json
  graphify-out/cache/stat-index.json
  graphify-out/graph.html
  graphify-out/graph.json
  graphify-out/manifest.json
Due: none

chore(e2e): add the screenshot capture script for the docs
  e2e/screens/builds-raw.png
  e2e/screens/integration-gv-raw.png
  e2e/screens/integration-mf-raw.png
  e2e/tests/screenshots.spec.ts
Due: none

docs: illustrate the builds page and the federation dialog
  docs/BUILDS.md
  docs/INTEGRATION.md
  docs/assets/builds-page.png
  docs/assets/integration-dialog.png
Due: none

feat: added await
  backend/src/service/MicrofrontendService.ts
Due: lint-and-format, typecheck-backend

refactor(frontend): copri gli ultimi blocchi vuoti e gli snippet copiabili
  frontend/public/locales/en/platform.json
  frontend/public/locales/it/platform.json
  frontend/src/components/organisms/api-status-handler/ApiStatusHandler.tsx
  frontend/src/pages/error/NotFound.tsx
  frontend/src/pages/integration/partials/DeploymentGate.tsx
  frontend/src/pages/integration/partials/components/IntegrateMicrofrontendsDialog.tsx
  frontend/src/pages/integration/partials/views/EnvironmentVariablesIntegration.tsx
  frontend/src/pages/integration/partials/views/FrontendIntegration.tsx
  frontend/src/pages/templates-library/TemplatesLibrary.tsx
Due: lint-and-format, typecheck-frontend

chore(e2e): capture the deployments history for the docs
  e2e/screens/deployments-history.png
  e2e/tests/screenshots.spec.ts
Due: none

chore: refresh the knowledge graph
  graphify-out/.graphify_labels.json
  graphify-out/2026-08-16/.graphify_labels.json
  graphify-out/2026-08-16/GRAPH_REPORT.md
  graphify-out/2026-08-16/graph.json
  graphify-out/2026-08-16/manifest.json
  graphify-out/GRAPH_REPORT.md
  graphify-out/cache/ast/v0.9.7/095c6b616ee298f98a0a5b228faa78b304baec529d89740bf4ce55573c009710.json
  graphify-out/cache/ast/v0.9.7/1ea5aa3f702cfc7a0b3b37ce3378ccfb29d652fab329a908f99b1020fca0c844.json
  graphify-out/cache/ast/v0.9.7/49bdb06fc8f5b00482313ee278a01fa299a0dd061d100ac461736158e41336e4.json
  graphify-out/cache/stat-index.json
  graphify-out/graph.html
  graphify-out/graph.json
  graphify-out/manifest.json
Due: none

fix(microfrontends): ripristina il cambio tab nella pagina di modifica
  frontend/package.json
  pnpm-lock.yaml
Due: none

chore: refresh the knowledge graph
  graphify-out/.graphify_labels.json
  graphify-out/2026-08-16/.graphify_labels.json
  graphify-out/2026-08-16/GRAPH_REPORT.md
  graphify-out/2026-08-16/graph.json
  graphify-out/2026-08-16/manifest.json
  graphify-out/GRAPH_REPORT.md
  graphify-out/cache/ast/v0.9.7/ab6540ec79b927fc37065b8ec74ef3a308cb4c8711ab626ffd80fb54a58fef01.json
  graphify-out/cache/ast/v0.9.7/c4d23b2af8f6e0ab735f96e248f0f2d1dcb3c39379c9d395aa490879aa49e538.json
  graphify-out/cache/ast/v0.9.7/f1637d9996ef9035b3fe1b730c66365fc0ef2e6f555b7a44226592337899790a.json
  graphify-out/cache/stat-index.json
  graphify-out/graph.html
  graphify-out/graph.json
  graphify-out/manifest.json
Due: none

style(microfrontends): affianca provider, repository e gruppo
  frontend/src/pages/microfrontends/partials/components/CodeRepositorySection.tsx
Due: lint-and-format, typecheck-frontend

style(microfrontends): affianca i campi dell'hosting
  frontend/src/pages/microfrontends/partials/components/HostingSection.tsx
Due: lint-and-format, typecheck-frontend

style(microfrontends): allarga i select alla riga che li contiene
  frontend/src/pages/microfrontends/partials/components/CodeRepositorySection.tsx
  frontend/src/pages/microfrontends/partials/components/HostingSection.tsx
  frontend/src/pages/microfrontends/partials/components/ReleaseSection.tsx
Due: lint-and-format, typecheck-frontend

chore: refresh the knowledge graph
  graphify-out/.graphify_labels.json
  graphify-out/2026-08-16/.graphify_labels.json
  graphify-out/2026-08-16/GRAPH_REPORT.md
  graphify-out/2026-08-16/graph.json
  graphify-out/2026-08-16/manifest.json
  graphify-out/GRAPH_REPORT.md
  graphify-out/cache/ast/v0.9.7/902c4b349574dcf440ccd3033551aa72bbdfad728c1a58937a9d2731d2249765.json
  graphify-out/cache/stat-index.json
  graphify-out/graph.html
  graphify-out/graph.json
  graphify-out/manifest.json
Due: none

docs: move the user-facing pages to the documentation site
  .cursorrules
  .github/copilot-instructions.md
  .windsurf/rules.md
  CHANGELOG.md
  README.md
  docs/BUILDS.md
  docs/CANARY.md
  docs/DEPENDENCIES.md
  docs/INTEGRATION.md
  docs/REPOSITORY-IMPORT.md
  docs/assets/builds-page.png
  docs/assets/canary-strategies.png
  docs/assets/canary-users.png
  docs/assets/deployments.png
  docs/assets/integration-dialog.png
  docs/assets/integration-global-variables.png
  docs/assets/integration-module-federation.png
  docs/assets/repository-import-action.png
  docs/assets/repository-import-dialog.png
Due: none

feat(security): cifra a riposo le credenziali di storage e repository
  README.md
  backend/.env.example
  backend/src/controller/CodeRepositoryController.ts
  backend/src/controller/StorageController.ts
  backend/src/models/CodeRepositoryModel.ts
  backend/src/models/DeploymentModel.ts
  backend/src/models/StorageModel.test.ts
  backend/src/models/StorageModel.ts
  backend/src/plugins/config.ts
  backend/src/service/CodeRepositoryService.ts
  backend/src/service/DeploymentService.ts
  backend/src/service/StorageService.test.ts
  backend/src/service/StorageService.ts
  backend/src/utils/encryptedFieldsPlugin.test.ts
  backend/src/utils/encryptedFieldsPlugin.ts
  backend/src/utils/migrations.ts
  backend/src/utils/secretCrypto.test.ts
  backend/src/utils/secretCrypto.ts
  docs/SECRETS.md
  frontend/src/hooks/apiClients/useCodeRepositoriesApi.ts
  frontend/src/pages/code-repositories/AddAzure.tsx
  frontend/src/pages/code-repositories/AddGitlab.tsx
  helm/mfe-orchestrator/README.md
  helm/mfe-orchestrator/values.yaml
Due: lint-and-format, typecheck-backend, typecheck-frontend

chore: refresh the knowledge graph
  graphify-out/2026-08-17/.graphify_labels.json
  graphify-out/2026-08-17/GRAPH_REPORT.md
  graphify-out/2026-08-17/cost.json
  graphify-out/2026-08-17/graph.json
  graphify-out/2026-08-17/manifest.json
  graphify-out/cache/ast/v0.9.7/3511efc5261f6e2f7ac329ad91288bcda4149366f0212eaa1fda4bcce678c688.json
  graphify-out/cache/ast/v0.9.7/6aa2976625e490cc45af638f495dc0c8c3d5d08cb64f1b53eb0d1890e79e77a0.json
  graphify-out/cache/ast/v0.9.7/6e3b1ec57f4b1ad80b2e1d46ef314e2b25bd6881012c9d2898608e48be3980ad.json
  graphify-out/cache/ast/v0.9.7/8e247d643acbce96b3b8f4b82a0d2586897287b40165842dd36ffb7759793feb.json
  graphify-out/cache/ast/v0.9.7/9d442349c6852e46bb38cdba788a83afecf8938b6c204df77ab2bb4d81556218.json
  graphify-out/cache/ast/v0.9.7/d6abf55b8cead5ff1de1d055c57da0b029c23368e3da57b0cffda08977273d6c.json
  graphify-out/cache/ast/v0.9.7/e9082765d66b842c433b361a2bfa18545286212f38ec191d0866bb0b553ee384.json
  graphify-out/cache/ast/v0.9.7/ed23d81954947e0b5516af00d15025b632f130f74ca7aa981cba60858030bb69.json
  graphify-out/cache/stat-index.json
  graphify-out/graph.html
Due: none

Path conditions:
  lint-and-format: any of: {backend,frontend}/**/*.{js,ts,tsx,json}
  typecheck-backend: any of: **/*.{ts,tsx} and ^backend/
  typecheck-frontend: any of: **/*.{ts,tsx} and ^frontend/
