Repository mfe-orchestrator/mfe-orchestrator: changes, and which lefthook commands are due for each by the changed paths.
All: lint-and-format, typecheck-backend, typecheck-frontend

lint-and-format:
  run: pnpm exec biome check --write --staged {staged_files}
  stage_fixed: true

typecheck-backend:
  run: pnpm exec tsc --noEmit

typecheck-frontend:
  run: pnpm exec tsc --noEmit

fix: style + azure bocket
  backend/src/models/StorageModel.ts
  frontend/public/locales/it/platform.json
  frontend/src/hooks/apiClients/useCodeRepositoriesApi.ts
  frontend/src/pages/code-repositories/AddGitlab.tsx
  frontend/src/pages/code-repositories/CodeRepositories.tsx
  frontend/src/pages/microfrontends/AddMicrofrontend.tsx
  frontend/src/pages/microfrontends/partials/components/HostingSection.tsx
  frontend/src/pages/storages/AddStorage.tsx
  frontend/src/pages/storages/Storages.tsx
Due: lint-and-format, typecheck-backend, typecheck-frontend

feat: branch select ok
  backend/src/client/GitlabClient.ts
  backend/src/service/CodeRepositoryService.ts
  backend/src/service/MicrofrontendService.ts
  frontend/src/pages/microfrontends/partials/components/BuildDialog.tsx
  frontend/src/pages/microfrontends/partials/components/CodeRepositorySection.tsx
Due: lint-and-format, typecheck-backend, typecheck-frontend

feat: can tag repo
  backend/src/client/AzureDevOpsClient.ts
  backend/src/client/GithubClient.ts
  backend/src/client/GitlabClient.ts
  backend/src/service/MicrofrontendService.ts
  frontend/public/locales/en/platform.json
  frontend/public/locales/it/platform.json
Due: lint-and-format, typecheck-backend

feat: updated deps
  backend/package.json
  backend/src/service/ApiKeyService.ts
  pnpm-lock.yaml
Due: lint-and-format, typecheck-backend

feat: removed brevo
  backend/package.json
  backend/src/controller/JoinTheWaitingListController.ts
  backend/src/plugins/config.ts
  backend/src/service/BrevoService.ts
  backend/src/types/WaitingListDTO.ts
  backend/src/types/fastify.d.ts
  pnpm-lock.yaml
Due: lint-and-format, typecheck-backend

feat: wip pipelines
  .github/workflows/deploy.yml
  .github/workflows/docker-build.yml
Due: none

feat: wip pipelines
  .github/workflows/docker-build.yml
Due: none

feat: adding test e2e
  .github/workflows/README.md
  .github/workflows/e2e-tests.yml
  .gitignore
  e2e/README.md
  e2e/package.json
  e2e/playwright.config.ts
  e2e/tests/example.spec.ts
  e2e/tests/fixtures/.gitkeep
  e2e/tests/fixtures/example.ts
  e2e/tsconfig.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

feat: adding test e2e
  .github/workflows/e2e-tests.yml
Due: none

feat: added e2e test
  .github/workflows/e2e-tests.yml
  e2e/package.json
  e2e/playwright.config.ts
  frontend/src/authentication/components/LoginPage.tsx
  frontend/src/components/atoms/button/Button.tsx
  frontend/src/components/atoms/button/IButtonProps.ts
  frontend/src/components/input/TextField.rhf.tsx
  frontend/src/pages/auth/SignUp.tsx
  pnpm-lock.yaml
  turbo.json
Due: lint-and-format, typecheck-frontend

feat: adding e2e test
  e2e/package.json
  e2e/playwright.config.ts
  e2e/tests/auth/registration.spec.ts
  e2e/tests/fixtures/mailinatorClient.ts
  turbo.json
Due: none

feat: adding e2e test
  e2e/tests/auth/registration.spec.ts
Due: none

feat: working on state machine
  backend/.nvmrc
  backend/package.json
  backend/src/controller/ProjectStateWizardController.ts
  backend/src/models/WizardProjectState.ts
  backend/src/service/ProjectWizardService.ts
  backend/src/types/ProjectNewDTO.ts
  backend/src/utils/projectWizardStateMachine.ts
  frontend/.nvmrc
  frontend/src/pages/new-project-wizard/NewProjectWizard.tsx
  frontend/src/pages/new-project-wizard/pages/CodeRepositories.tsx
  frontend/src/pages/new-project-wizard/pages/Completed.tsx
  frontend/src/pages/new-project-wizard/pages/Environments.tsx
  frontend/src/pages/new-project-wizard/pages/Hosting.tsx
  frontend/src/pages/new-project-wizard/pages/NameAndDescription.tsx
  frontend/src/pages/new-project-wizard/pages/TeamMates.tsx
  pnpm-lock.yaml
Due: lint-and-format, typecheck-backend, typecheck-frontend

feat: working on state machine
  backend/src/controller/ProjectStateWizardController.ts
  backend/src/service/ProjectWizardService.ts
  frontend/src/Routes.tsx
  frontend/src/components/RouteWithSuspense.tsx
  frontend/src/components/SwitchProjectButton.tsx
  frontend/src/hooks/apiClients/useProjectWizardClient.ts
  frontend/src/hooks/useApiClient.tsx
  frontend/src/pages/new-project-wizard/NewProjectWizard.tsx
  frontend/src/pages/new-project-wizard/pages/CodeRepositories.tsx
  frontend/src/pages/new-project-wizard/pages/Completed.tsx
  frontend/src/pages/new-project-wizard/pages/Environments.tsx
  frontend/src/pages/new-project-wizard/pages/Hosting.tsx
  frontend/src/pages/new-project-wizard/pages/MainData.tsx
  frontend/src/pages/new-project-wizard/pages/NameAndDescription.tsx
  frontend/src/pages/new-project-wizard/pages/TeamMates.tsx
  frontend/src/pages/new-project-wizard/pages/WizardBasicProps.ts
Due: lint-and-format, typecheck-backend, typecheck-frontend

feat(frontend): improve api-keys and switch-project UI
  frontend/public/locales/en/platform.json
  frontend/public/locales/it/platform.json
  frontend/src/components/SwitchProjectButton.tsx
  frontend/src/components/input/CalendarField.rhf.tsx
  frontend/src/pages/api-keys/ApiKeys.tsx
  frontend/src/pages/api-keys/partials/CreateApiKeyDialog.tsx
  frontend/src/pages/api-keys/partials/CreateApiKeyForm.tsx
  frontend/src/pages/api-keys/partials/NoApiKeyPlaceholder.tsx
Due: lint-and-format, typecheck-frontend

feat: complete project invitation flow with confirmation
  backend/src/controller/ProjectUserController.ts
  backend/src/models/UserProjectModel.ts
  backend/src/service/EmailSenderService.ts
  backend/src/service/UserProjectService.ts
  frontend/public/locales/en/platform.json
  frontend/public/locales/it/platform.json
  frontend/src/Routes.tsx
  frontend/src/hooks/apiClients/useInvitationApi.ts
  frontend/src/hooks/apiClients/useProjectUserApi.ts
  frontend/src/pages/auth/ProjectInvitation.tsx
  frontend/src/pages/project-users/ProjectUsers.tsx
Due: lint-and-format, typecheck-backend, typecheck-frontend

chore(deps): update all dependencies to latest
  backend/package.json
  biome.json
  e2e/package.json
  frontend/package.json
  frontend/postcss.config.js
  frontend/src/components/ui/Sidebar/Sidebar.tsx
  frontend/src/index.css
  frontend/tsconfig.app.json
  frontend/tsconfig.json
  package.json
  pnpm-lock.yaml
Due: lint-and-format, typecheck-frontend

feat(frontend): restore New Project Wizard and reuse it on first run
  frontend/src/pages/new-project-wizard/NewProjectWizard.tsx
  frontend/src/pages/new-project-wizard/pages/CodeRepositories.tsx
  frontend/src/pages/new-project-wizard/pages/Completed.tsx
  frontend/src/pages/new-project-wizard/pages/Environments.tsx
  frontend/src/pages/new-project-wizard/pages/Hosting.tsx
  frontend/src/pages/new-project-wizard/pages/MainData.tsx
  frontend/src/pages/new-project-wizard/pages/TeamMates.tsx
  frontend/src/pages/new-project-wizard/pages/wizardShared.tsx
  frontend/src/theme/SelectProjectWrapper.tsx
  frontend/tailwind.config.ts
Due: lint-and-format, typecheck-frontend

style(frontend): apply biome import ordering to tailwind.config.ts
  frontend/tailwind.config.ts
Due: typecheck-frontend

test(e2e): add Playwright end-to-end tests for the Project Wizard
  e2e/tests/fixtures/auth.ts
  e2e/tests/project-wizard.spec.ts
  frontend/src/pages/new-project-wizard/pages/Completed.tsx
  frontend/src/pages/new-project-wizard/pages/Environments.tsx
  frontend/src/pages/new-project-wizard/pages/MainData.tsx
  frontend/src/pages/new-project-wizard/pages/TeamMates.tsx
  frontend/src/pages/new-project-wizard/pages/wizardShared.tsx
Due: lint-and-format, typecheck-frontend

fix(wizard): reuse existing StorageForm and environment setup in the wizard
  e2e/tests/project-wizard.spec.ts
  frontend/src/pages/new-project-wizard/pages/Environments.tsx
  frontend/src/pages/new-project-wizard/pages/Hosting.tsx
  frontend/src/pages/storages/AddStorage.tsx
Due: lint-and-format, typecheck-frontend

fix(wizard,settings): reuse repo dialog, align roles, quieter wizard, delete-dialog & i18n fixes
  frontend/public/locales/en/platform.json
  frontend/public/locales/it/platform.json
  frontend/src/pages/environments/partials/NoEnvironmentPlaceholder.tsx
  frontend/src/pages/new-project-wizard/pages/CodeRepositories.tsx
  frontend/src/pages/new-project-wizard/pages/Environments.tsx
  frontend/src/pages/new-project-wizard/pages/Hosting.tsx
  frontend/src/pages/new-project-wizard/pages/MainData.tsx
  frontend/src/pages/new-project-wizard/pages/TeamMates.tsx
  frontend/src/pages/settings/partials/DangerZone.tsx
  frontend/src/pages/storages/AddStorage.tsx
Due: lint-and-format, typecheck-frontend

feat(frontend): highlight that the project switcher also creates projects
  frontend/public/locales/en/platform.json
  frontend/public/locales/it/platform.json
  frontend/src/components/SwitchProjectButton.tsx
Due: lint-and-format, typecheck-frontend

fix(docker): pin pnpm to the workspace packageManager version
  Dockerfile
  DockerfileComplete
  backend/package.json
  frontend/package.json
Due: none

fix(docker): pin pnpm to the workspace packageManager version (#153)
  Dockerfile
  DockerfileComplete
  backend/package.json
  frontend/package.json
Due: none

feat(frontend): redesign microfrontends dashboard and project picker
  frontend/public/locales/en/platform.json
  frontend/public/locales/it/platform.json
  frontend/src/components/ProjectPickerList.tsx
  frontend/src/components/SwitchProjectButton.tsx
  frontend/src/pages/microfrontends/Microfrontends.tsx
  frontend/src/pages/microfrontends/partials/components/AddNewMicrofrontendCard.tsx
  frontend/src/pages/microfrontends/partials/components/MicrofrontendCard.tsx
  frontend/src/pages/microfrontends/partials/components/MicrofrontendsEmptyState.tsx
  frontend/src/pages/microfrontends/partials/components/index.ts
  frontend/src/pages/microfrontends/partials/labels.ts
  frontend/src/pages/microfrontends/partials/views/MicrofrontendsFlow.tsx
  frontend/src/pages/microfrontends/partials/views/MicrofrontendsGrid.tsx
  frontend/src/pages/microfrontends/partials/views/MicrofrontendsTable.tsx
  frontend/src/pages/microfrontends/partials/views/index.ts
  frontend/src/theme/SelectProjectWrapper.tsx
Due: lint-and-format, typecheck-frontend

feat(wizard): orchestrate the new project wizard from the backend
  CHANGELOG.md
  backend/src/controller/ProjectStateWizardController.ts
  backend/src/errors/ProjectWizardNotCompletedError.ts
  backend/src/models/WizardProjectState.ts
  backend/src/service/ApiKeyService.ts
  backend/src/service/BaseAuthorizedService.ts
  backend/src/service/DeploymentService.ts
  backend/src/service/GlobalVariablesService.ts
  backend/src/service/MicrofrontendService.ts
  backend/src/service/ProjectService.ts
  backend/src/service/ProjectWizardService.ts
  backend/src/utils/projectWizardStateMachine.ts
  e2e/tests/fixtures/auth.ts
  e2e/tests/project-wizard.spec.ts
  frontend/src/Routes.tsx
  frontend/src/components/SwitchProjectButton.tsx
  frontend/src/hooks/apiClients/useProjectApi.ts
  frontend/src/hooks/apiClients/useProjectWizardClient.ts
  frontend/src/pages/new-project-wizard/NewProjectWizard.tsx
  frontend/src/pages/new-project-wizard/ProjectWizardRoutes.tsx
  frontend/src/pages/new-project-wizard/StartProjectWizard.tsx
  frontend/src/pages/new-project-wizard/WizardLayout.tsx
  frontend/src/pages/new-project-wizard/pages/CodeRepositories.tsx
  frontend/src/pages/new-project-wizard/pages/Completed.tsx
  frontend/src/pages/new-project-wizard/pages/Environments.tsx
  frontend/src/pages/new-project-wizard/pages/MainData.tsx
  frontend/src/pages/new-project-wizard/pages/TeamMates.tsx
  frontend/src/pages/new-project-wizard/pages/WizardBasicProps.ts
  frontend/src/pages/new-project-wizard/pages/wizardShared.tsx
  frontend/src/theme/SelectProjectWrapper.tsx
  frontend/src/types/ProjectWizardDTO.ts
Due: lint-and-format, typecheck-backend, typecheck-frontend

feat(frontend): show projects as large tiles in the post-login picker
  frontend/src/authentication/components/AuthenticationLayout.tsx
  frontend/src/components/ProjectPickerList.tsx
  frontend/src/theme/SelectProjectWrapper.tsx
Due: lint-and-format, typecheck-frontend

fix(frontend): refresh project users cache after sending an invite
  frontend/src/pages/project-users/partials/AddUserButton.tsx
Due: lint-and-format, typecheck-frontend

feat(environments): reorder environments with drag and drop
  backend/src/controller/EnvironmentController.ts
  backend/src/service/EnvironmentService.ts
  backend/src/types/EnvironmentDTO.ts
  frontend/public/locales/en/platform.json
  frontend/public/locales/it/platform.json
  frontend/src/hooks/apiClients/useEnvironmentsApi.ts
  frontend/src/hooks/useDragAndDropOrder.ts
  frontend/src/pages/environments/Environments.tsx
  frontend/src/pages/environments/partials/EnvironmentList.tsx
Due: lint-and-format, typecheck-backend, typecheck-frontend

fix(frontend): add missing translation strings on the environments screens
  frontend/public/locales/en/platform.json
  frontend/public/locales/it/platform.json
Due: lint-and-format

ci: bump GitHub Actions to Node 24 runtimes
  .github/workflows/docker-build.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/monorepo-build.yml
Due: none

ci: build on Node 24
  .github/workflows/monorepo-build.yml
Due: none

fix(frontend): bust the browser cache of the translation files
  frontend/src/global.d.ts
  frontend/src/i18n.ts
  frontend/src/vite-env.d.ts
  frontend/vite.config.ts
  nginx/nginx.conf
Due: lint-and-format, typecheck-frontend

feat(microfrontend): add HTTPS/SSH clone urls and clone repo popover
  backend/src/client/AzureDevOpsClient.ts
  backend/src/models/MicrofrontendModel.ts
  backend/src/service/MicrofrontendService.ts
  backend/src/types/MicrofrontendDTO.ts
  frontend/public/locales/en/platform.json
  frontend/public/locales/it/platform.json
  frontend/src/hooks/apiClients/useMicrofrontendsApi.ts
  frontend/src/pages/microfrontends/AddMicrofrontend.tsx
  frontend/src/pages/microfrontends/partials/components/CloneRepositoryPopover.tsx
  frontend/src/pages/microfrontends/partials/components/CodeRepositorySection.tsx
  frontend/src/pages/microfrontends/partials/components/MicrofrontendCard.tsx
  frontend/src/pages/microfrontends/partials/components/index.ts
  frontend/src/pages/microfrontends/partials/views/MicrofrontendsTable.tsx
  frontend/src/utils/repositoryCloneUrls.ts
Due: lint-and-format, typecheck-backend, typecheck-frontend

chore: license the project under Apache-2.0
  LICENSE
  README.md
  backend/package.json
  package.json
Due: none

feat(telemetry): add opt-out anonymous telemetry for self-hosted installs
  .cursorrules
  CHANGELOG.md
  README.md
  backend/src/controller/TelemetryController.ts
  backend/src/plugins/config.ts
  backend/src/plugins/telemetry.ts
  backend/src/service/TelemetryService.ts
  backend/src/types/TelemetryDTO.ts
  backend/src/types/fastify.d.ts
  backend/src/utils/telemetry.ts
  docker-compose.yaml
  docs/TELEMETRY.md
  terraform/modules/microfronted-orchestrator-hub.tf
Due: lint-and-format, typecheck-backend

Path conditions:
  lint-and-format: any of: {backend,frontend}/**/*.{js,ts,tsx,json}
  typecheck-backend: any of: **/*.{ts,tsx} and ^backend/
  typecheck-frontend: any of: **/*.{ts,tsx} and ^frontend/
