Repository mfe-orchestrator/mfe-orchestrator: changes, and which lefthook commands are due for each by the changed paths.
All: lint-and-format, typecheck-backend, typecheck-frontend

lefthook.yml:

# Lefthook configuration
# See: https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md

pre-commit:
  parallel: true
  commands:
    lint-and-format:
      glob: "{backend,frontend}/**/*.{js,ts,tsx,json}"
      run: "pnpm exec biome check --write --staged {staged_files}"
      stage_fixed: true

    typecheck-backend:
      root: "backend/"
      glob: "**/*.{ts,tsx}"
      run: "pnpm exec tsc --noEmit"

    typecheck-frontend:
      root: "frontend/"
      glob: "**/*.{ts,tsx}"
      run: "pnpm exec tsc --noEmit"

commit-msg:
  commands:
    commitlint:
      run: "pnpm exec commitlint --edit"

refactor(frontend): usa la Sidebar del design system
  frontend/package.json
  frontend/src/components/ui/Sidebar/Sidebar.tsx
  graphify-out/.graphify_labels.json
  graphify-out/2026-08-07/.graphify_labels.json
  graphify-out/2026-08-07/GRAPH_REPORT.md
  graphify-out/2026-08-07/graph.json
  graphify-out/2026-08-07/manifest.json
  graphify-out/GRAPH_REPORT.md
  graphify-out/cache/ast/v0.9.7/e97605a12507a8fb3d79f890c982e3aa0e035d1df2452f9cb08bee34e190468e.json
  graphify-out/cache/stat-index.json
  graphify-out/graph.html
  graphify-out/graph.json
  graphify-out/manifest.json
  pnpm-lock.yaml
Due: lint-and-format, typecheck-frontend

test(e2e): copri con test end-to-end gli inviti a un progetto
  backend/.env.example
  e2e/README.md
  e2e/tests/auth/registration.spec.ts
  e2e/tests/collaboration/invite-existing-user.spec.ts
  e2e/tests/collaboration/invite-new-collaborator.spec.ts
  e2e/tests/fixtures/appUser.ts
  e2e/tests/fixtures/emailClient.ts
  e2e/tests/fixtures/mailinatorClient.ts
  frontend/src/authentication/components/LoginPage.tsx
  frontend/src/pages/auth/ProjectInvitation.tsx
  frontend/src/pages/project-users/ProjectUsers.tsx
  frontend/src/pages/project-users/partials/AddUserButton.tsx
Due: lint-and-format, typecheck-frontend

fix(ci): fai arrivare BASE_URL e le credenziali email ai test e2e
  .github/workflows/e2e-tests.yml
  e2e/playwright.config.ts
  package.json
Due: none

chore(backend): copia i template canary in fase di postbuild
  backend/postbuild.js
  backend/src/templates/canary/is-canary.template.js
  backend/src/templates/canary/user-id.template.js
Due: lint-and-format

chore: aggiorna il grafo graphify dopo i test e2e sugli inviti
  graphify-out/2026-08-10/.graphify_labels.json
  graphify-out/2026-08-10/GRAPH_REPORT.md
  graphify-out/2026-08-10/cost.json
  graphify-out/2026-08-10/graph.json
  graphify-out/2026-08-10/manifest.json
  graphify-out/cache/ast/v0.9.7/5e81c92541ffae7edf2eb4bc71241ea358601942cb2d243ccf1d4e66ee58d537.json
  graphify-out/cache/ast/v0.9.7/d30584f35a4ae2bf63141c50da35f54fa4edaa4d33794a494700790c8414a225.json
  graphify-out/cache/stat-index.json
  graphify-out/graph.html
Due: none

ci: togli la versione di pnpm fissata nel workflow e2e
  .github/workflows/e2e-tests.yml
Due: none

feat(backend): rendi configurabile il tetto di richieste per IP
  backend/.env.example
  backend/src/plugins/config.ts
  backend/src/plugins/rateLimit.ts
  backend/src/types/fastify.d.ts
  helm/mfe-orchestrator/values.yaml
Due: lint-and-format, typecheck-backend

fix(e2e): attendi l'esito dell'attivazione account e leggi e2e/.env
  e2e/package.json
  e2e/playwright.config.ts
  e2e/tests/fixtures/appUser.ts
  pnpm-lock.yaml
Due: none

fix(frontend): ferma il loop di richieste sulla pagina membri
  frontend/src/pages/project-users/partials/AddUserButton.tsx
Due: lint-and-format, typecheck-frontend

test(e2e): aggiungi i test di login e di creazione progetto
  e2e/tests/auth/login.spec.ts
  e2e/tests/collaboration/invite-existing-user.spec.ts
  e2e/tests/collaboration/invite-new-collaborator.spec.ts
  e2e/tests/fixtures/appUser.ts
  e2e/tests/projects/create-project.spec.ts
Due: none

test(e2e): copri con test CRUD ambienti, API key e storage provider
  e2e/README.md
  e2e/tests/api-keys/api-keys-crud.spec.ts
  e2e/tests/environments/environments-crud.spec.ts
  e2e/tests/fixtures/projectResources.ts
  e2e/tests/storages/storages-crud.spec.ts
  frontend/src/pages/api-keys/ApiKeys.tsx
  frontend/src/pages/api-keys/partials/CreateApiKeyDialog.tsx
  frontend/src/pages/api-keys/partials/CreateApiKeyForm.tsx
  frontend/src/pages/api-keys/partials/NoApiKeyPlaceholder.tsx
  frontend/src/pages/environments/Environments.tsx
  frontend/src/pages/storages/AddStorage.tsx
  frontend/src/pages/storages/Storages.tsx
Due: lint-and-format, typecheck-frontend

test(e2e): rinomina i test in inglese in forma given/when/then
  e2e/tests/auth/login.spec.ts
  e2e/tests/auth/registration.spec.ts
  e2e/tests/collaboration/invite-existing-user.spec.ts
  e2e/tests/collaboration/invite-new-collaborator.spec.ts
  e2e/tests/projects/create-project.spec.ts
Due: none

chore: aggiorna il grafo graphify dopo i test CRUD
  graphify-out/.graphify_labels.json
  graphify-out/2026-08-10/.graphify_labels.json
  graphify-out/2026-08-10/GRAPH_REPORT.md
  graphify-out/2026-08-10/graph.json
  graphify-out/2026-08-10/manifest.json
  graphify-out/GRAPH_REPORT.md
  graphify-out/cache/ast/v0.9.7/02f51132350e9a9f689937bbf279aff85cf9565956063381428fa7881e1b7ddb.json
  graphify-out/cache/ast/v0.9.7/56f314eb9ca1f4678eec180d372287a5390a047d115c8e4c532f66952c806296.json
  graphify-out/cache/ast/v0.9.7/8589fc06836ba2832be9368c8341af37e60b8cd59e60c90c7437a309f1f7642c.json
  graphify-out/cache/stat-index.json
  graphify-out/graph.html
  graphify-out/graph.json
  graphify-out/manifest.json
Due: none

test(e2e): fai passare il recupero password con i data-testid mancanti
  e2e/tests/auth/registration.spec.ts
  frontend/src/authentication/components/LoginPage.tsx
  frontend/src/pages/auth/ResetPassword.tsx
  frontend/src/pages/auth/ResetPasswordRequest.tsx
Due: lint-and-format, typecheck-frontend

test(e2e): rendi il wizard indipendente dall'utente seed
  e2e/tests/example.spec.ts
  e2e/tests/fixtures/auth.ts
  e2e/tests/project-wizard.spec.ts
  frontend/src/pages/environments/partials/EnvironmentList.tsx
  frontend/src/pages/environments/partials/EnvironmentSet.tsx
  frontend/src/pages/new-project-wizard/NewProjectWizard.tsx
  frontend/src/pages/storages/AddStorage.tsx
Due: lint-and-format, typecheck-frontend

feat: removed stff in readme + pnpm lock
  README.md
  backend/package.json
  frontend/index.html
  graphify-out/2026-08-11/.graphify_labels.json
  graphify-out/2026-08-11/GRAPH_REPORT.md
  graphify-out/2026-08-11/cost.json
  graphify-out/2026-08-11/graph.json
  graphify-out/2026-08-11/manifest.json
  graphify-out/cache/ast/v0.9.7/02580796dd001cf3c808b590ad1663f056d281273d1bdf70634396d7490dcbd6.json
  graphify-out/cache/stat-index.json
  graphify-out/graph.html
  pnpm-lock.yaml
Due: none

test(e2e): togli la corsa sul campo email nel recupero password
  e2e/tests/auth/registration.spec.ts
  e2e/tests/fixtures/appUser.ts
Due: none

feat(backend): resolve canary version server side and pin it in the URL
  backend/src/controller/ServeController.ts
  backend/src/service/ServeService.ts
  graphify-out/.graphify_labels.json
  graphify-out/2026-08-11/.graphify_labels.json
  graphify-out/2026-08-11/GRAPH_REPORT.md
  graphify-out/2026-08-11/graph.json
  graphify-out/2026-08-11/manifest.json
  graphify-out/GRAPH_REPORT.md
  graphify-out/cache/ast/v0.9.7/160f6f6bcc2b2f4a0d3dbf8e5a6b573dbfa38a00cd7dd6c28551d4717e5f217a.json
  graphify-out/cache/ast/v0.9.7/39edb6254dcd42779664ae1c224ac29e0347e3233d5ebd63e4b5eb594318a022.json
  graphify-out/cache/ast/v0.9.7/432cb0341711cf1104fa7cf484dd114f4302273cb39337c8047d4d4c3670b695.json
  graphify-out/cache/ast/v0.9.7/60a29cbd0b6290b18558a4573f3541e2506e4d19a1335aa6b31865244455a271.json
  graphify-out/cache/ast/v0.9.7/a63b82aadb8b8fbd283661667b2ec95b51f14785b071e60be4373c35a90c3e32.json
  graphify-out/cache/ast/v0.9.7/c48f770c1d9ab5eefcb4fa99d168e1e14691fad1a27004dd51141e8a006cbe8c.json
  graphify-out/cache/ast/v0.9.7/e084bc6927f53b60f303a2ba940d4e87e2b123e31075b58e2c8dc1ba1a005795.json
  graphify-out/cache/stat-index.json
  graphify-out/graph.html
  graphify-out/graph.json
  graphify-out/manifest.json
Due: lint-and-format, typecheck-backend

fix(backend): point the generated configs at the final SDK scope
  backend/src/service/ServeService.ts
  graphify-out/.graphify_labels.json
  graphify-out/2026-08-11/.graphify_labels.json
  graphify-out/2026-08-11/manifest.json
  graphify-out/cache/ast/v0.9.7/160f6f6bcc2b2f4a0d3dbf8e5a6b573dbfa38a00cd7dd6c28551d4717e5f217a.json
  graphify-out/cache/ast/v0.9.7/39edb6254dcd42779664ae1c224ac29e0347e3233d5ebd63e4b5eb594318a022.json
  graphify-out/cache/ast/v0.9.7/432cb0341711cf1104fa7cf484dd114f4302273cb39337c8047d4d4c3670b695.json
  graphify-out/cache/ast/v0.9.7/60a29cbd0b6290b18558a4573f3541e2506e4d19a1335aa6b31865244455a271.json
  graphify-out/cache/ast/v0.9.7/a63b82aadb8b8fbd283661667b2ec95b51f14785b071e60be4373c35a90c3e32.json
  graphify-out/cache/ast/v0.9.7/c48f770c1d9ab5eefcb4fa99d168e1e14691fad1a27004dd51141e8a006cbe8c.json
  graphify-out/cache/ast/v0.9.7/e084bc6927f53b60f303a2ba940d4e87e2b123e31075b58e2c8dc1ba1a005795.json
  graphify-out/cache/stat-index.json
  graphify-out/manifest.json
Due: lint-and-format, typecheck-backend

fix(backend): publish the client SDK under the mfe-orchestrator-hub scope
  backend/src/service/ServeService.ts
  graphify-out/cache/stat-index.json
  graphify-out/manifest.json
Due: lint-and-format, typecheck-backend

feat(backend): allow a dedicated CORS allow-list for the serve endpoints
  README.md
  backend/src/plugins/config.ts
  backend/src/plugins/cors.ts
  backend/src/types/fastify.d.ts
  helm/mfe-orchestrator/README.md
  helm/mfe-orchestrator/values.yaml
Due: lint-and-format, typecheck-backend

fix(backend): reject an invalid object id instead of fabricating one
  backend/src/utils/mongooseUtils.ts
Due: lint-and-format, typecheck-backend

feat(frontend): show the canary split on the deployment microfrontend cards
  frontend/graphify-out/.graphify_labels.json
  frontend/graphify-out/2026-08-11/.graphify_labels.json
  frontend/graphify-out/2026-08-11/GRAPH_REPORT.md
  frontend/graphify-out/2026-08-11/graph.json
  frontend/graphify-out/2026-08-11/manifest.json
  frontend/graphify-out/GRAPH_REPORT.md
  frontend/graphify-out/cache/ast/v0.9.7/2eedf509fe0e28ffdeaf05c97710b0300c6044e8f6d6d3ca75428dec3f1b9ad5.json
  frontend/graphify-out/cache/ast/v0.9.7/745badd0dfb821c2d185e5463443ce0c27e55261dfca8064be070489d74cd625.json
  frontend/graphify-out/cache/ast/v0.9.7/f91d58e5c91dae47e9f6f3e03529ed42c49a400980b466eec5b77f5fbd89aa58.json
  frontend/graphify-out/cache/stat-index.json
  frontend/graphify-out/graph.html
  frontend/graphify-out/graph.json
  frontend/graphify-out/manifest.json
  frontend/package.json
  frontend/public/locales/en/platform.json
  frontend/public/locales/it/platform.json
  frontend/src/pages/deployments/partials/DeploymentList.tsx
  frontend/src/pages/deployments/partials/DeploymentMicrofrontendCard.tsx
  frontend/src/pages/microfrontends/partials/components/CanarySection.tsx
  pnpm-lock.yaml
Due: lint-and-format, typecheck-frontend

chore: refresh the knowledge graph
  graphify-out/cache/stat-index.json
  graphify-out/manifest.json
Due: none

chore: track the backend knowledge graph and stop linting generated graphs
  backend/graphify-out/.graphify_labels.json
  backend/graphify-out/.graphify_root
  backend/graphify-out/GRAPH_REPORT.md
  backend/graphify-out/cache/ast/v0.9.7/11e1cf94459d41f5f0cc62562cbce7dc627861cdbd554cd5c5bea15547dcfb52.json
  backend/graphify-out/cache/ast/v0.9.7/888590450fd9c2df18790c419252c0eb9848aeb9acc2e7e4dab8ba43bc460dd6.json
  backend/graphify-out/cache/ast/v0.9.7/f24ccae2dd46cd3991ac46b6aa65b0416ae40c7faa11f2a7c8f42d38e5e46158.json
  backend/graphify-out/cache/stat-index.json
  backend/graphify-out/graph.html
  backend/graphify-out/graph.json
  backend/graphify-out/manifest.json
  biome.json
Due: lint-and-format

fix(backend): make the per user canary enrolment actually reachable
  backend/src/service/DeploymentCanaryUsersService.ts
  backend/src/service/ServeService.ts
  graphify-out/.graphify_labels.json
  graphify-out/2026-08-11/.graphify_labels.json
  graphify-out/2026-08-11/GRAPH_REPORT.md
  graphify-out/2026-08-11/graph.json
  graphify-out/2026-08-11/manifest.json
  graphify-out/GRAPH_REPORT.md
  graphify-out/cache/ast/v0.9.7/dd4b6505e018ad040022c95c74a3260a9ae9c3be1b26ee8c9880680691112b65.json
  graphify-out/cache/stat-index.json
  graphify-out/graph.html
  graphify-out/graph.json
  graphify-out/manifest.json
Due: lint-and-format, typecheck-backend

fix(backend): accept only JSON bodies and scope multipart to the upload route
  backend/src/controller/MicrofrontendController.ts
  backend/src/plugins/contentType.ts
  backend/src/plugins/multipart.ts
Due: lint-and-format, typecheck-backend

chore: refresh the knowledge graph
  backend/graphify-out/.graphify_labels.json
  backend/graphify-out/2026-08-11/.graphify_labels.json
  backend/graphify-out/2026-08-11/GRAPH_REPORT.md
  backend/graphify-out/2026-08-11/graph.json
  backend/graphify-out/2026-08-11/manifest.json
  backend/graphify-out/cache/stat-index.json
  backend/graphify-out/graph.html
  backend/graphify-out/manifest.json
  graphify-out/2026-08-11/.graphify_labels.json
  graphify-out/2026-08-11/GRAPH_REPORT.md
  graphify-out/2026-08-11/graph.json
  graphify-out/2026-08-11/manifest.json
  graphify-out/GRAPH_REPORT.md
  graphify-out/cache/stat-index.json
  graphify-out/graph.html
  graphify-out/graph.json
  graphify-out/manifest.json
Due: lint-and-format

feat(backend): serve the manifest, the global variables and the mfe config without an environment in the url
  backend/src/controller/ServeController.ts
  backend/src/service/ServeService.ts
Due: lint-and-format, typecheck-backend

chore: refresh the knowledge graph
  backend/graphify-out/.graphify_labels.json
  backend/graphify-out/2026-08-11/.graphify_labels.json
  backend/graphify-out/2026-08-11/GRAPH_REPORT.md
  backend/graphify-out/2026-08-11/graph.json
  backend/graphify-out/2026-08-11/manifest.json
  backend/graphify-out/GRAPH_REPORT.md
  backend/graphify-out/cache/stat-index.json
  backend/graphify-out/graph.html
  backend/graphify-out/graph.json
  backend/graphify-out/manifest.json
  graphify-out/.graphify_labels.json
  graphify-out/2026-08-11/GRAPH_REPORT.md
  graphify-out/2026-08-11/graph.json
  graphify-out/2026-08-11/manifest.json
  graphify-out/GRAPH_REPORT.md
  graphify-out/cache/stat-index.json
  graphify-out/graph.html
  graphify-out/graph.json
  graphify-out/manifest.json
Due: lint-and-format

feat(backend): remember and detect the stack of every microfrontend
  backend/src/client/AzureDevOpsClient.ts
  backend/src/client/GithubClient.ts
  backend/src/controller/MicrofrontendController.ts
  backend/src/models/MicrofrontendModel.ts
  backend/src/service/MicrofrontendDependencyService.ts
  backend/src/service/MicrofrontendService.ts
  backend/src/service/RepositoryFileService.ts
  backend/src/service/StackDetectionService.ts
  backend/src/types/MicrofrontendDTO.ts
  backend/src/types/MicrofrontendStack.ts
Due: lint-and-format, typecheck-backend

feat(backend): stop presenting the environment as required in the generated bootstrap snippet
  backend/src/service/ServeService.ts
Due: lint-and-format, typecheck-backend

chore: refresh the knowledge graph
  graphify-out/.graphify_labels.json
  graphify-out/2026-08-11/.graphify_labels.json
  graphify-out/2026-08-11/GRAPH_REPORT.md
  graphify-out/2026-08-11/graph.json
  graphify-out/2026-08-11/manifest.json
  graphify-out/GRAPH_REPORT.md
  graphify-out/cache/ast/v0.9.7/3457bc5914b385b91642ee8068f195e717e878b975ffd20aca944b41398b92a8.json
  graphify-out/cache/ast/v0.9.7/4b017b9b0cd9658aad73660e5860616aac04457d3c4047cde9906337eea1baa0.json
  graphify-out/cache/ast/v0.9.7/9ea1a0651c10d56e3d09b8b4a7c902e11fdc71ca35d2c62f30aa7771ad855393.json
  graphify-out/cache/stat-index.json
  graphify-out/graph.html
  graphify-out/graph.json
  graphify-out/manifest.json
Due: none

feat: generate the integration instructions for each microfrontend's own stack
  backend/src/controller/ServeController.ts
  backend/src/service/FederationConfigService.ts
  backend/src/service/ServeService.ts
  frontend/public/locales/en/platform.json
  frontend/public/locales/it/platform.json
  frontend/src/hooks/apiClients/useServeApi.ts
  frontend/src/pages/integration/partials/components/CodeIntegration.tsx
  frontend/src/pages/integration/partials/components/StackBadge.tsx
  frontend/src/pages/integration/partials/components/index.ts
  frontend/src/pages/integration/partials/views/FrontendIntegration.tsx
Due: lint-and-format, typecheck-backend, typecheck-frontend

feat: wire module federation into every microfrontend from one button
  backend/src/controller/IntegrationController.ts
  backend/src/service/FederationConfigService.ts
  backend/src/service/FederationIntegrationService.ts
  backend/src/service/ServeService.ts
  backend/src/utils/packageJsonUtils.ts
  frontend/public/locales/en/platform.json
  frontend/public/locales/it/platform.json
  frontend/src/hooks/apiClients/useIntegrationApi.ts
  frontend/src/pages/integration/partials/components/IntegrateMicrofrontendsDialog.tsx
  frontend/src/pages/integration/partials/components/index.ts
  frontend/src/pages/integration/partials/views/FrontendIntegration.tsx
Due: lint-and-format, typecheck-backend, typecheck-frontend

chore: refresh the knowledge graph
  backend/graphify-out/.graphify_labels.json
  backend/graphify-out/2026-08-11/.graphify_labels.json
  backend/graphify-out/2026-08-11/GRAPH_REPORT.md
  backend/graphify-out/2026-08-11/graph.json
  backend/graphify-out/2026-08-11/manifest.json
  backend/graphify-out/GRAPH_REPORT.md
  backend/graphify-out/cache/stat-index.json
  backend/graphify-out/graph.html
  backend/graphify-out/graph.json
  backend/graphify-out/manifest.json
  graphify-out/2026-08-11/.graphify_labels.json
  graphify-out/2026-08-11/GRAPH_REPORT.md
  graphify-out/2026-08-11/graph.json
  graphify-out/2026-08-11/manifest.json
  graphify-out/GRAPH_REPORT.md
  graphify-out/cache/ast/v0.9.7/24b653b76f5f6ac4662f1c71007df1f4c88aef72f48168b5785249c7cf00f22d.json
  graphify-out/cache/ast/v0.9.7/68aa1903287456523aeb8e12fea125a8b8710bcfc33c41f5b8c2f6cfb6c18433.json
  graphify-out/cache/stat-index.json
  graphify-out/graph.html
  graphify-out/graph.json
  graphify-out/manifest.json
Due: lint-and-format

fix(backend): keep the environment optional in the generated bootstrap snippet
  backend/src/service/FederationConfigService.ts
Due: lint-and-format, typecheck-backend

fix(backend): match the reference templates in the webpack profiles
  backend/src/service/FederationConfigService.ts
Due: lint-and-format, typecheck-backend

chore: refresh the knowledge graph
  backend/graphify-out/2026-08-11/.graphify_labels.json
  backend/graphify-out/2026-08-11/GRAPH_REPORT.md
  backend/graphify-out/2026-08-11/graph.json
  backend/graphify-out/2026-08-11/manifest.json
  backend/graphify-out/GRAPH_REPORT.md
  backend/graphify-out/cache/stat-index.json
  backend/graphify-out/graph.html
  backend/graphify-out/graph.json
  backend/graphify-out/manifest.json
  backend/src/service/IntegrationService.ts
  graphify-out/2026-08-11/GRAPH_REPORT.md
  graphify-out/2026-08-11/graph.json
  graphify-out/2026-08-11/manifest.json
  graphify-out/GRAPH_REPORT.md
  graphify-out/cache/stat-index.json
  graphify-out/graph.html
  graphify-out/graph.json
  graphify-out/manifest.json
Due: lint-and-format, typecheck-backend
