Repository mfe-orchestrator/mfe-orchestrator: changes, and which lefthook commands are due for each by the changed paths.
All: lint-and-format, typecheck-backend, typecheck-frontend

lint-and-format:
  run: pnpm exec biome check --write --staged {staged_files}
  stage_fixed: true

typecheck-backend:
  run: pnpm exec tsc --noEmit

typecheck-frontend:
  run: pnpm exec tsc --noEmit

feat: fix all
  frontend/src/components/organisms/api-status-handler/ApiStatusHandler.tsx
  frontend/src/components/organisms/api-status-handler/IApiStatusHandlerProps.ts
  frontend/src/theme/AuthWrapper.tsx
Due: lint-and-format, typecheck-frontend

fix: pipeline
  .github/workflows/monorepo-build.yml
Due: none

fix: avoid empty
  frontend/src/pages/microfrontends/AddMicrofrontend.tsx
Due: lint-and-format, typecheck-frontend

fix: eye
  frontend/src/contexts/GlobalParameterProvider.tsx
  frontend/src/pages/code-repositories/AddAzure.tsx
  frontend/src/pages/code-repositories/AddGitlab.tsx
Due: lint-and-format, typecheck-frontend

feat: azure dev ops is ok
  backend/src/client/AzureDevOpsClient.ts
  backend/src/models/ApiKeyModel.ts
  backend/src/service/MicrofrontendService.ts
Due: lint-and-format, typecheck-backend

feat: added path in model
  backend/src/models/MicrofrontendModel.ts
Due: lint-and-format, typecheck-backend

feat: added dm-zip
  backend/package.json
  backend/src/service/MicrofrontendService.ts
  pnpm-lock.yaml
Due: lint-and-format, typecheck-backend

feat: updated storage on azure, it works
  backend/package.json
  backend/src/models/StorageModel.ts
  backend/src/service/MicrofrontendService.ts
  frontend/public/locales/en/platform.json
  frontend/public/locales/it/platform.json
  frontend/src/pages/storages/AddStorage.tsx
  pnpm-lock.yaml
Due: lint-and-format, typecheck-backend, typecheck-frontend

feat: azure serve works
  backend/src/client/AzureStorageAccount.ts
  backend/src/client/GoogleStorageAccount.ts
  backend/src/client/S3Buckets.ts
  backend/src/models/DeploymentModel.ts
  backend/src/models/StorageModel.ts
  backend/src/service/DeploymentService.ts
  backend/src/service/ServeService.ts
Due: lint-and-format, typecheck-backend

feat: azure serve works
  backend/src/service/ServeService.ts
Due: lint-and-format, typecheck-backend

feat: azure dev ops now injects the secret
  backend/package.json
  backend/src/client/AzureDevOpsClient.ts
  backend/src/models/CodeRepositoryModel.ts
  backend/src/service/CodeRepositoryService.ts
  backend/src/types/CreateAzureDevOpsRepositoryDTO.ts
  frontend/src/hooks/apiClients/useCodeRepositoriesApi.ts
  frontend/src/pages/code-repositories/AddAzure.tsx
  pnpm-lock.yaml
Due: lint-and-format, typecheck-backend, typecheck-frontend

feat: added expirarion colore in api keys
  frontend/src/pages/api-keys/ApiKeys.tsx
Due: lint-and-format, typecheck-frontend

feat: added expirarion colore in api keys
  frontend/public/locales/en/platform.json
  frontend/public/locales/it/platform.json
  frontend/src/pages/code-repositories/AddAzure.tsx
Due: lint-and-format, typecheck-frontend

feat: added domains in environments
  backend/src/controller/ServeController.ts
  backend/src/models/EnvironmentModel.ts
  backend/src/service/ServeService.ts
  backend/src/types/EnvironmentDTO.ts
  frontend/public/locales/en/platform.json
  frontend/public/locales/it/platform.json
  frontend/src/hooks/apiClients/useEnvironmentsApi.ts
  frontend/src/pages/environments/Environments.tsx
Due: lint-and-format, typecheck-backend, typecheck-frontend

feat: added domains in environments
  frontend/src/components/input/TextareaChipsField.rhf.tsx
Due: lint-and-format, typecheck-frontend

feat: added default to storage
  backend/src/controller/StorageController.ts
  backend/src/service/StorageService.ts
  frontend/src/hooks/apiClients/useStorageApi.ts
  frontend/src/pages/storages/Storages.tsx
Due: lint-and-format, typecheck-backend, typecheck-frontend

feat: updated some libs
  frontend/package.json
  pnpm-lock.yaml
Due: none

feat: working on gitlab integration
  README.md
  backend/src/client/GitlabClient.ts
  backend/src/controller/CodeRepositoryController.ts
  backend/src/service/CodeRepositoryService.ts
  frontend/src/components/input/SelectField.rhf.tsx
  frontend/src/hooks/apiClients/useCodeRepositoriesApi.ts
  frontend/src/pages/code-repositories/AddGitlab.tsx
  frontend/src/pages/microfrontends/partials/components/CodeRepositorySection.tsx
Due: lint-and-format, typecheck-backend, typecheck-frontend

feat: wip on gitlab
  backend/src/service/MicrofrontendService.ts
  backend/src/types/MicrofrontendDTO.ts
  frontend/src/hooks/apiClients/useMicrofrontendsApi.ts
  frontend/src/pages/microfrontends/AddMicrofrontend.tsx
  frontend/src/pages/microfrontends/partials/components/CodeRepositorySection.tsx
Due: lint-and-format, typecheck-backend, typecheck-frontend

feat: added create repo on gitlab
  backend/src/controller/CodeRepositoryController.ts
  backend/src/service/CodeManagementService.ts
  backend/src/service/CodeRepositoryService.ts
  backend/src/service/MicrofrontendService.ts
  backend/src/types/MicrofrontendDTO.ts
  frontend/src/hooks/apiClients/useCodeRepositoriesApi.ts
  frontend/src/hooks/apiClients/useMicrofrontendsApi.ts
  frontend/src/pages/microfrontends/AddMicrofrontend.tsx
  frontend/src/pages/microfrontends/partials/components/CodeRepositorySection.tsx
Due: lint-and-format, typecheck-backend, typecheck-frontend

feat: added gitlab secret injection
  backend/src/client/GitlabClient.ts
  backend/src/models/CodeRepositoryModel.ts
  backend/src/service/CodeRepositoryService.ts
  backend/src/service/MicrofrontendService.ts
  backend/src/types/CreateGitlabRepositoryDTO.ts
  frontend/public/locales/en/platform.json
  frontend/public/locales/it/platform.json
  frontend/src/hooks/apiClients/useCodeRepositoriesApi.ts
  frontend/src/pages/code-repositories/AddGitlab.tsx
Due: lint-and-format, typecheck-backend, typecheck-frontend

wip: #90
  backend/src/controller/AuthorizationController.ts
  backend/src/plugins/config.ts
  backend/src/types/fastify.d.ts
  frontend/src/authentication/components/LoginWithGoogleButton.tsx
  frontend/src/authentication/googleAuthTokenUtils.ts
  frontend/src/global.d.ts
Due: lint-and-format, typecheck-backend, typecheck-frontend

feat: google refresh token
  backend/src/controller/AuthorizationController.ts
  frontend/src/authentication/components/LoginWithGoogleButton.tsx
  frontend/src/authentication/tokenUtils.ts
  frontend/src/hooks/useApiClient.tsx
Due: lint-and-format, typecheck-backend, typecheck-frontend

feat: fix refresh url
  frontend/src/hooks/useApiClient.tsx
Due: lint-and-format, typecheck-frontend

fix: undefined if token is not ok
  frontend/src/hooks/useApiClient.tsx
Due: lint-and-format, typecheck-frontend

fix: eis empty
  frontend/src/components/organisms/api-status-handler/ApiStatusHandler.tsx
Due: lint-and-format, typecheck-frontend

feat: session on mongo fix
  backend/src/service/ApiKeyService.ts
  backend/src/service/CodeRepositoryService.ts
  backend/src/service/ProjectService.ts
  backend/src/service/UserProjectService.ts
Due: lint-and-format, typecheck-backend

feat: fix session
  backend/src/service/UserProjectService.ts
Due: lint-and-format, typecheck-backend

feat: updated libs
  backend/package.json
  backend/src/service/UserProjectService.ts
  pnpm-lock.yaml
Due: lint-and-format, typecheck-backend

feat: updated libs
  frontend/package.json
  pnpm-lock.yaml
Due: none

feat: updated libs
  backend/package.json
  pnpm-lock.yaml
Due: none

feat: upadted to mongoose 9.0.0
  backend/package.json
  backend/src/controller/ProjectUserController.ts
  backend/src/models/ApiKeyModel.ts
  backend/src/models/DeploymentsToCanaryUsersModel.ts
  backend/src/models/EnvironmentModel.ts
  backend/src/models/MicrofrontendModel.ts
  backend/src/models/StorageModel.ts
  backend/src/models/UserModel.ts
  backend/src/service/ApiKeyService.ts
  backend/src/service/BaseAuthorizedService.ts
  backend/src/service/CodeRepositoryService.ts
  backend/src/service/DeploymentCanaryUsersService.ts
  backend/src/service/DeploymentService.ts
  backend/src/service/EnvironmentService.ts
  backend/src/service/GlobalVariablesService.ts
  backend/src/service/MicrofrontendService.ts
  backend/src/service/ProjectService.ts
  backend/src/service/ServeService.ts
  backend/src/service/StorageService.ts
  backend/src/service/UserProjectService.ts
  backend/src/service/UserService.ts
  backend/src/utils/mongooseUtils.ts
  pnpm-lock.yaml
Due: lint-and-format, typecheck-backend

feat: updateed deps
  package.json
  pnpm-lock.yaml
Due: none

fix: types in project id
  backend/src/models/UserProjectModel.ts
  backend/src/service/ProjectService.ts
  backend/src/utils/mongooseUtils.ts
Due: lint-and-format, typecheck-backend

feat: added shared varaibles for devOps
  backend/src/client/AzureDevOpsClient.ts
Due: lint-and-format, typecheck-backend

feat: added google seerve
  backend/package.json
  backend/src/client/GoogleStorageAccount.ts
  backend/src/models/StorageModel.ts
  backend/src/service/MicrofrontendService.ts
  backend/src/service/ProjectService.ts
  frontend/public/locales/en/platform.json
  frontend/public/locales/it/platform.json
  frontend/src/components/organisms/api-status-handler/ApiStatusHandler.tsx
  frontend/src/hooks/apiClients/useStorageApi.ts
  frontend/src/hooks/useApiClient.tsx
  frontend/src/pages/microfrontends/AddMicrofrontend.tsx
  frontend/src/pages/microfrontends/Microfrontends.tsx
  frontend/src/pages/microfrontends/partials/components/AddNewMicrofrontendCard.tsx
  frontend/src/pages/storages/AddStorage.tsx
  frontend/src/pages/storages/Storages.tsx
  frontend/src/theme/AuthWrapper.tsx
Due: lint-and-format, typecheck-backend, typecheck-frontend

feat: added google seerve
  pnpm-lock.yaml
Due: none

feat: theme system and language eng
  backend/.env.example
  frontend/src/store/useThemeStore.ts
Due: lint-and-format, typecheck-frontend

feat: amazon aws works
  backend/src/service/CodeRepositoryService.ts
  frontend/public/locales/en/platform.json
  frontend/public/locales/it/platform.json
  frontend/src/hooks/apiClients/useDeploymentsApi.ts
  frontend/src/hooks/apiClients/useStorageApi.ts
  frontend/src/pages/integration/partials/views/FrontendIntegration.tsx
  frontend/src/pages/microfrontends/AddMicrofrontend.tsx
  frontend/src/pages/microfrontends/partials/components/HostingSection.tsx
  frontend/src/pages/microfrontends/partials/components/index.ts
  frontend/src/pages/storages/Storages.tsx
Due: lint-and-format, typecheck-backend, typecheck-frontend

Path conditions:
  lint-and-format: any of: {backend,frontend}/**/*.{js,ts,tsx,json}
  typecheck-backend: any of: **/*.{ts,tsx} and ^backend/
  typecheck-frontend: any of: **/*.{ts,tsx} and ^frontend/
