Repository mfe-orchestrator/mfe-orchestrator: changes, and which lefthook commands are due for each by the changed paths.
All: lint-and-format, typecheck-backend, typecheck-frontend

lint-and-format:
  run: pnpm exec biome check --write --staged {staged_files}
  stage_fixed: true

typecheck-backend:
  run: pnpm exec tsc --noEmit

typecheck-frontend:
  run: pnpm exec tsc --noEmit

chore: refresh the knowledge graph
  graphify-out/2026-08-20/.graphify_labels.json
  graphify-out/2026-08-20/GRAPH_REPORT.md
  graphify-out/2026-08-20/cost.json
  graphify-out/2026-08-20/graph.json
  graphify-out/2026-08-20/manifest.json
  graphify-out/cache/ast/v0.9.7/7728564c92c552d7a70d0ccf5a6790b0ef623557383e375f89fdfdee4cc4dbbb.json
  graphify-out/cache/ast/v0.9.7/98e0df993dfd4ed1c11349347ee7c8542b8467322c5988914afa3573fcd5b7d2.json
  graphify-out/cache/ast/v0.9.7/a115a002a3542b514652ce29757f79fa2383283bc8e5f57f5ed1593d25e51dbc.json
  graphify-out/cache/ast/v0.9.7/c07af74373f8d22928d3db8d2e7bd954f84524e0d68b88fde5a6d3ac59b96667.json
  graphify-out/cache/ast/v0.9.7/fbd5f10ee065ded5ce7212513d87c6f67f99e5abaef003759fc76b586347933d.json
  graphify-out/cache/stat-index.json
  graphify-out/graph.html
Due: none

fix(organizations): non far dipendere l'avvio dalla durata della migrazione
  backend/src/index.ts
  backend/src/plugins/noSQL.ts
  backend/src/utils/organizationMigration.test.ts
  backend/src/utils/organizationMigration.ts
Due: lint-and-format, typecheck-backend

fix(api): metti in sicurezza l'aggiornamento del progetto
  backend/src/controller/ProjectController.ts
  backend/src/service/ProjectService.test.ts
  backend/src/service/ProjectService.ts
Due: lint-and-format, typecheck-backend

feat(frontend): permetti di rinominare un progetto dopo la creazione
  frontend/public/locales/en/platform.json
  frontend/public/locales/it/platform.json
  frontend/src/hooks/apiClients/useProjectApi.ts
  frontend/src/pages/settings/Settings.tsx
  frontend/src/pages/settings/partials/ProjectInfoSection.tsx
Due: lint-and-format, typecheck-frontend

chore: refresh the knowledge graph
  graphify-out/2026-08-21/.graphify_labels.json
  graphify-out/2026-08-21/GRAPH_REPORT.md
  graphify-out/2026-08-21/cost.json
  graphify-out/2026-08-21/graph.json
  graphify-out/2026-08-21/manifest.json
  graphify-out/cache/ast/v0.9.7/6b7fb1e89fc17d32b02f6b6d3629768283d7b92adbb8ca15f474e4507552b333.json
  graphify-out/cache/ast/v0.9.7/b52868e6b404808bda9295e42da29cf8a9713705c22f1bc4303e1bfd02c01439.json
  graphify-out/cache/stat-index.json
  graphify-out/graph.html
Due: none

fix(component): inoltra il ref dal Button dell'app
  frontend/src/components/atoms/button/Button.tsx
Due: lint-and-format, typecheck-frontend

refactor(frontend): sposta l'organizzazione dalla sidebar all'header
  e2e/tests/organizations/organization-members.spec.ts
  e2e/tests/organizations/organization-switch.spec.ts
  frontend/public/locales/en/platform.json
  frontend/public/locales/it/platform.json
  frontend/src/Routes.tsx
  frontend/src/components/SwitchOrganizationButton.tsx
  frontend/src/theme/layout/Header.tsx
  frontend/src/theme/layout/MainLayout.tsx
Due: lint-and-format, typecheck-frontend

chore: refresh the knowledge graph
  graphify-out/.graphify_labels.json
  graphify-out/2026-08-21/.graphify_labels.json
  graphify-out/2026-08-21/GRAPH_REPORT.md
  graphify-out/2026-08-21/graph.json
  graphify-out/2026-08-21/manifest.json
  graphify-out/GRAPH_REPORT.md
  graphify-out/cache/ast/v0.9.7/ae443656f56cc169013eb89d4f8eccd865e716b3cf9fbf8502324e62a5e1ebfe.json
  graphify-out/cache/ast/v0.9.7/b47146a915f50a7251dfe70ecf98ba9f8de6ba50215555216324ade4be454444.json
  graphify-out/cache/stat-index.json
  graphify-out/graph.html
  graphify-out/graph.json
  graphify-out/manifest.json
Due: none

fix(frontend): non trascinare il progetto fra organizzazioni diverse
  e2e/tests/organizations/multi-organization-login.spec.ts
  frontend/src/theme/SelectProjectWrapper.tsx
Due: lint-and-format, typecheck-frontend

docs(changelog): add the 4.0.0 entry
  CHANGELOG.md
Due: none

build: pin the deployable infrastructure to 4.0.0
  docker-compose.yaml
  helm/mfe-orchestrator/Chart.yaml
  terraform/modules/microfronted-orchestrator-hub.tf
Due: none

fix(auth): reject revoked and expired API keys
  backend/src/plugins/autorization.test.ts
  backend/src/plugins/autorization.ts
Due: lint-and-format, typecheck-backend

fix(api-keys): a deploy key lasts a year, not 365 hours
  backend/src/service/CodeRepositoryService.ts
  backend/src/service/MicrofrontendService.ts
Due: lint-and-format, typecheck-backend

docs(e2e): capture the screenshots the documentation pages are built from
  e2e/screens/add-new-microfrontend.png
  e2e/screens/choose-a-template.png
  e2e/screens/frontend-fill-information.png
  e2e/screens/microfrontend-hosting-type.png
  e2e/screens/organization-create.png
  e2e/screens/organization-danger-zone.png
  e2e/screens/organization-details.png
  e2e/screens/organization-invite.png
  e2e/screens/organization-members.png
  e2e/screens/organization-menu.png
  e2e/screens/organization-pending-invitations.png
  e2e/screens/organization-switcher.png
  e2e/tests/screenshots-canary.spec.ts
  e2e/tests/screenshots-microfrontend.spec.ts
  e2e/tests/screenshots-organizations.spec.ts
Due: none

chore: refresh the knowledge graph
  graphify-out/2026-08-27/.graphify_labels.json
  graphify-out/2026-08-27/GRAPH_REPORT.md
  graphify-out/2026-08-27/cost.json
  graphify-out/2026-08-27/graph.json
  graphify-out/2026-08-27/manifest.json
  graphify-out/cache/ast/v0.9.7/877f34ca905d712e09b0385defb84ab5868a4695ac25876e6423b85dc94e0e73.json
  graphify-out/cache/stat-index.json
  graphify-out/graph.html
Due: none

fix(environments): deleting an environment takes its contents with it
  backend/src/service/EnvironmentService.test.ts
  backend/src/service/EnvironmentService.ts
Due: lint-and-format, typecheck-backend

chore: refresh the knowledge graph
  graphify-out/.graphify_labels.json
  graphify-out/2026-08-27/.graphify_labels.json
  graphify-out/2026-08-27/GRAPH_REPORT.md
  graphify-out/2026-08-27/graph.json
  graphify-out/2026-08-27/manifest.json
  graphify-out/GRAPH_REPORT.md
  graphify-out/cache/stat-index.json
  graphify-out/graph.html
  graphify-out/graph.json
  graphify-out/manifest.json
Due: none

docs(e2e): capture the account and profile screens
  e2e/tests/screenshots-account.spec.ts
Due: none

fix(startup): close the first-startup registration once a user exists
  backend/src/controller/StartupController.test.ts
  backend/src/controller/StartupController.ts
Due: lint-and-format, typecheck-backend

fix(startup): replace every separator in the first project slug
  backend/src/controller/StartupController.test.ts
  backend/src/controller/StartupController.ts
Due: lint-and-format, typecheck-backend

refactor(slug): derive every project slug with slugify
  backend/src/controller/StartupController.test.ts
  backend/src/controller/StartupController.ts
  backend/src/service/ProjectService.test.ts
  backend/src/service/ProjectService.ts
  backend/src/utils/slugUtils.test.ts
Due: lint-and-format, typecheck-backend

fix(users): keep the activation and reset tokens out of every user response
  backend/src/models/UserModel.test.ts
  backend/src/models/UserModel.ts
Due: lint-and-format, typecheck-backend

fix(auth): stop the password reset from claiming success without SMTP
  backend/src/service/UserService.test.ts
  backend/src/service/UserService.ts
  frontend/public/locales/en/platform.json
  frontend/public/locales/it/platform.json
  frontend/src/hooks/apiClients/useUserApi.ts
  frontend/src/hooks/useApiClient.tsx
  frontend/src/pages/auth/ResetPasswordRequest.tsx
Due: lint-and-format, typecheck-backend, typecheck-frontend

docs: record the token leak and the reset without SMTP
  CHANGELOG.md
  README.md
  backend/.env.example
Due: none

chore: refresh the knowledge graph
  graphify-out/.graphify_labels.json
  graphify-out/2026-08-27/.graphify_labels.json
  graphify-out/2026-08-27/GRAPH_REPORT.md
  graphify-out/2026-08-27/graph.json
  graphify-out/2026-08-27/manifest.json
  graphify-out/GRAPH_REPORT.md
  graphify-out/cache/ast/v0.9.7/32a3d8355f2473c63fcfae52cab5ef43b8afc9e023e0574221f58cc01a5cdd66.json
  graphify-out/cache/ast/v0.9.7/53122e77e917b5765f29d70638a6ed8570c068dffd633bd1bef44021e0c096e6.json
  graphify-out/cache/ast/v0.9.7/5b912a6117713bb1585c4d960e956c0fe32cd5a828fafc4b11c867a79f690ae9.json
  graphify-out/cache/ast/v0.9.7/767e30d52113d273b67e42cc829d8bb4df113ad72a2bed9211b8cc09dbdf3bfe.json
  graphify-out/cache/stat-index.json
  graphify-out/graph.html
  graphify-out/graph.json
  graphify-out/manifest.json
Due: none

docs(e2e): capture the first-startup screens and seed the account ones
  e2e/screens/account-activation.png
  e2e/screens/first-startup-sso.png
  e2e/screens/first-startup.png
  e2e/screens/invitation-not-found.png
  e2e/screens/organization-invitation.png
  e2e/screens/profile-avatar.png
  e2e/screens/profile-marketing-consent.png
  e2e/screens/profile.png
  e2e/screens/project-invitation.png
  e2e/screens/reset-password-request.png
  e2e/screens/reset-password.png
  e2e/tests/screenshots-account.spec.ts
  e2e/tests/screenshots-first-startup.spec.ts
Due: none

ci(terraform): deploy the development image to dev and configure MCP
  terraform/main.tf
  terraform/modules/microfronted-orchestrator-hub.tf
  terraform/modules/redis.tf
  terraform/modules/variables.tf
  terraform/variables.tf
Due: none

chore: refresh the knowledge graph
  graphify-out/2026-10-06/.graphify_labels.json
  graphify-out/2026-10-06/GRAPH_REPORT.md
  graphify-out/2026-10-06/cost.json
  graphify-out/2026-10-06/graph.json
  graphify-out/2026-10-06/manifest.json
  graphify-out/cache/ast/v0.9.7/1b115ce6603b0ac4064f325a450809d3b924e7d165d104d4482dfaca71ace5ed.json
  graphify-out/cache/ast/v0.9.7/34c6531b9fe2c9ce80a545264523631641caead202b2c9ee4cf473b5251c8dc4.json
  graphify-out/cache/ast/v0.9.7/3ac7c1350263b30354808297ed243f5e3ecab2048cf2b7ddbf6adc2dfe7e6cd9.json
  graphify-out/cache/ast/v0.9.7/5917c27f903878672f9a6343e869c2808a3b40d9a2854a947403096036cf5649.json
  graphify-out/cache/ast/v0.9.7/611fff9a3a20534af9fcc895394b41f403e3e6a5d69f8fe7b6e9e4ff20c22c50.json
  graphify-out/cache/ast/v0.9.7/637cec5e942419633666d095c2fb394e9c0ad9e414332d7327d052fc5dddb61b.json
  graphify-out/cache/ast/v0.9.7/845543927ad074b32a0e1a95f247df90ca4770c11bb25b02130600b8a9650075.json
  graphify-out/cache/ast/v0.9.7/8b7e064792943700a79b797c876d5240a8e4627a052a245fcf686391a5ae69e3.json
  graphify-out/cache/ast/v0.9.7/903b9a4f86735653d2733b9671e8257866a061c10f8bc6034c6d4f82d081c36c.json
  graphify-out/cache/ast/v0.9.7/904f66746dfab4c73ec6656c42de4c70ac39f0db2b374266cbcd327eb50c782f.json
  graphify-out/cache/ast/v0.9.7/95c78497f5795e8d50b414f466963519fcb66705b9aca3534fbbf6baf5aaf1ea.json
  graphify-out/cache/ast/v0.9.7/9644db06a93be0b88c4afa3a9d0e36aa7259104f1469f80bf5a3bac28862a1ba.json
  graphify-out/cache/ast/v0.9.7/9a7f1ac7a3733a1e3e3ce8cb2546240f79aed096a4d506dc3565fa80969fdfa8.json
  graphify-out/cache/ast/v0.9.7/aaa0fd14a9c41a71a93542691ef8a1c37738c528b45856e5c3b0e64d81b17217.json
  graphify-out/cache/ast/v0.9.7/b8c6219b1c008a523fb301823ba7c3b4d3c38c0fb2e3bdc52bd9b40511bd0b75.json
  graphify-out/cache/ast/v0.9.7/c2e950ef98767b07ab6a62f9f89b399af937b0462796f38c6c908bdd5b2ed351.json
  graphify-out/cache/ast/v0.9.7/d0bfaa70ed66806d631e9cdbdab884d0ba8cd71881b2ef50b5ef55df403198c0.json
  graphify-out/cache/ast/v0.9.7/fd5dd58507382502ff9d7d14bf05817ddca5fe066ae4814b2620f0b34ed63829.json
  graphify-out/cache/stat-index.json
  graphify-out/graph.html
Due: none

fix(frontend): render the OAuth consent page instead of a blank screen
  frontend/src/Routes.tsx
Due: lint-and-format, typecheck-frontend

feat(mcp): share one or more projects per connection, grouped by organization
  README.md
  backend/src/controller/McpController.test.ts
  backend/src/controller/McpController.ts
  backend/src/mcp/.omc/state/sessions/f9661e7c-01fd-4ed0-84d2-e150f27740e6/pre-tool-advisory-throttle.json
  backend/src/mcp/authentication.ts
  backend/src/mcp/server.test.ts
  backend/src/mcp/server.ts
  backend/src/mcp/toolDefinition.ts
  backend/src/mcp/tools/organizationTools.ts
  backend/src/models/OAuthGrantModel.ts
  backend/src/plugins/autorization.test.ts
  backend/src/service/BaseAuthorizedService.test.ts
  backend/src/service/BaseAuthorizedService.ts
  backend/src/service/OAuthAuthorizationService.test.ts
  backend/src/service/OAuthAuthorizationService.ts
  backend/src/service/OAuthGrantService.ts
  backend/src/service/OAuthTokenService.test.ts
  backend/src/service/OAuthTokenService.ts
  docs/MCP.md
  frontend/public/locales/en/platform.json
  frontend/public/locales/it/platform.json
  frontend/src/hooks/apiClients/useMcpClientsApi.ts
  frontend/src/hooks/apiClients/useOAuthApi.ts
  frontend/src/pages/mcp-clients/McpClients.tsx
  frontend/src/pages/oauth/OAuthConsent.tsx
  frontend/src/pages/oauth/OAuthProjectsPicker.tsx
Due: lint-and-format, typecheck-backend, typecheck-frontend

chore: refresh the knowledge graph
  graphify-out/2026-10-07/.graphify_labels.json
  graphify-out/2026-10-07/GRAPH_REPORT.md
  graphify-out/2026-10-07/cost.json
  graphify-out/2026-10-07/graph.json
  graphify-out/2026-10-07/manifest.json
  graphify-out/cache/ast/v0.9.7/01603021c1d7bd1cefece57c00feb46ccc5a9b5cefec20b562c9fc69c0708c51.json
  graphify-out/cache/ast/v0.9.7/06881950e412f2b4691ebb875169f5f191348d30241ffec64ceb08cf82c3e209.json
  graphify-out/cache/ast/v0.9.7/29fb496db0e9db56f86f3103df4152764dcc8da30a9d121a8eb742e7ad408844.json
  graphify-out/cache/ast/v0.9.7/5c0a51235203ab213643161ada5fdfcbab794a1fae8d8c9084943cc16238a5e4.json
  graphify-out/cache/ast/v0.9.7/ab7ca73369ccea0e58847529e1656a6663548449723b31f5f63c6585bbeb45a4.json
  graphify-out/cache/stat-index.json
  graphify-out/graph.html
Due: none

chore: stop tracking oh-my-claudecode session state
  .gitignore
  backend/src/mcp/.omc/state/sessions/f9661e7c-01fd-4ed0-84d2-e150f27740e6/pre-tool-advisory-throttle.json
Due: lint-and-format

feat(mcp): let a connection create projects with project_create
  backend/src/mcp/server.test.ts
  backend/src/mcp/server.ts
  backend/src/mcp/tools/organizationTools.test.ts
  backend/src/mcp/tools/organizationTools.ts
  backend/src/models/OAuthGrantModel.ts
  backend/src/service/OAuthAuthorizationService.test.ts
  backend/src/service/OAuthGrantService.test.ts
  backend/src/service/OAuthGrantService.ts
  docs/MCP.md
  frontend/public/locales/en/platform.json
  frontend/public/locales/it/platform.json
Due: lint-and-format, typecheck-backend

chore: refresh the knowledge graph
  graphify-out/.graphify_labels.json
  graphify-out/2026-10-07/.graphify_labels.json
  graphify-out/2026-10-07/GRAPH_REPORT.md
  graphify-out/2026-10-07/graph.json
  graphify-out/2026-10-07/manifest.json
  graphify-out/GRAPH_REPORT.md
  graphify-out/cache/ast/v0.9.7/0943d96960c37a21e616d0387055385a8b2d8e62d8f82dc8163f998ff55995fb.json
  graphify-out/cache/ast/v0.9.7/49b7156cc4a883f82f990a02ea8bf9d8c8dfc87c47db63d2e20564b2450ac83b.json
  graphify-out/cache/ast/v0.9.7/744f77b7f149ca5a749eacae0d6d131f03803c1c12490130c5bc2a6e8bedb7bd.json
  graphify-out/cache/ast/v0.9.7/8a6ba90b7171f3c2712a20264ce0589cd9c4d4494c27a118b901c4f4773a58a8.json
  graphify-out/cache/ast/v0.9.7/dd8d06fa3be04f6f643d099310ff329e1371a06287c6e6946e0853b630fe2859.json
  graphify-out/cache/ast/v0.9.7/f982fb8da894c8e8bdfff0f9d1906e19a0341f26fce5d5b334ff15c28104af1c.json
  graphify-out/cache/stat-index.json
  graphify-out/graph.html
  graphify-out/graph.json
  graphify-out/manifest.json
Due: none

Path conditions:
  lint-and-format: any of: {backend,frontend}/**/*.{js,ts,tsx,json}
  typecheck-backend: any of: **/*.{ts,tsx} and ^backend/
  typecheck-frontend: any of: **/*.{ts,tsx} and ^frontend/
