Repository mfe-orchestrator/mfe-orchestrator: changes, and which lefthook commands are due for each by the changed paths.
All: lint-and-format, typecheck-backend, typecheck-frontend

lefthook.yml:

# Lefthook configuration
# See: https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md

pre-commit:
  parallel: true
  commands:
    lint-and-format:
      glob: "{backend,frontend}/**/*.{js,ts,tsx,json}"
      run: "pnpm exec biome check --write --staged {staged_files}"
      stage_fixed: true

    typecheck-backend:
      root: "backend/"
      glob: "**/*.{ts,tsx}"
      run: "pnpm exec tsc --noEmit"

    typecheck-frontend:
      root: "frontend/"
      glob: "**/*.{ts,tsx}"
      run: "pnpm exec tsc --noEmit"

commit-msg:
  commands:
    commitlint:
      run: "pnpm exec commitlint --edit"

refactor: drop the old host injection in favour of the federation integration
  backend/src/controller/IntegrationController.ts
  frontend/public/locales/en/platform.json
  frontend/public/locales/it/platform.json
  frontend/src/hooks/apiClients/useIntegrationApi.ts
  frontend/src/pages/integration/partials/components/IntegrateMicrofrontendsDialog.tsx
  frontend/src/pages/integration/partials/views/FrontendIntegration.tsx
Due: lint-and-format, typecheck-backend, typecheck-frontend

chore: refresh the knowledge graph
  backend/graphify-out/2026-08-11/GRAPH_REPORT.md
  backend/graphify-out/2026-08-11/graph.json
  backend/graphify-out/2026-08-11/manifest.json
  backend/graphify-out/GRAPH_REPORT.md
  backend/graphify-out/cache/stat-index.json
  backend/graphify-out/graph.html
  backend/graphify-out/graph.json
  backend/graphify-out/manifest.json
  graphify-out/.graphify_labels.json
  graphify-out/2026-08-11/GRAPH_REPORT.md
  graphify-out/2026-08-11/graph.json
  graphify-out/2026-08-11/manifest.json
  graphify-out/GRAPH_REPORT.md
  graphify-out/cache/ast/v0.9.7/3a41af811ba2723a95b141b6aa3b76ad3bd25bec36c2ca66afbe2ba2dcfa5057.json
  graphify-out/cache/ast/v0.9.7/6681981e7670765ab325761be7cd65bc469a5161c0b2ee6eb02f5fa3a87cbc5c.json
  graphify-out/cache/stat-index.json
  graphify-out/graph.html
  graphify-out/graph.json
  graphify-out/manifest.json
Due: lint-and-format

build(deps): update the workspace and close the open advisories
  backend/package.json
  e2e/package.json
  frontend/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

ci: widen dependabot coverage to the whole workspace
  .github/dependabot.yml
Due: none

docs: stage the knowledge graph explicitly when committing a refresh
  CLAUDE.md
Due: none

chore: refresh the knowledge graph
  backend/graphify-out/cache/ast/v0.9.7/ea6c19b185a544865a3927f6d638f97f5216bf070c90645464025b283a35485b.json
  backend/graphify-out/cache/stat-index.json
  backend/graphify-out/manifest.json
  graphify-out/cache/ast/v0.9.7/097734d470d9455898df8539a0cd573a8b7dc5a4d8201678e0bd9b06b7900767.json
  graphify-out/cache/ast/v0.9.7/31b47e5b087facb38815e58009cff3e61bc1cb0b4b1b2005347ba5faf8df9cd0.json
  graphify-out/cache/ast/v0.9.7/4f58c9c3176610e7cc80e88cf5a0ccd5d2a699e1a55661da34c8b35703da2ddd.json
  graphify-out/cache/ast/v0.9.7/589783627fccf69a7a73dcfad06366465436e738c375e25a434db786609a7772.json
  graphify-out/cache/ast/v0.9.7/91e1a1d5f35d0c7c604cf62841f638173b6be78d6875f4a6fff3817be5af7125.json
  graphify-out/cache/stat-index.json
  graphify-out/manifest.json
Due: lint-and-format

docs: document the bulk repository import
  README.md
  docs/REPOSITORY-IMPORT.md
  docs/assets/repository-import-action.png
  docs/assets/repository-import-dialog.png
Due: none

fix(frontend): align the microfrontends view switcher with the header buttons
  frontend/src/pages/microfrontends/Microfrontends.tsx
Due: lint-and-format, typecheck-frontend

chore: refresh the knowledge graph
  graphify-out/.graphify_labels.json
  graphify-out/2026-08-11/.graphify_labels.json
  graphify-out/2026-08-11/GRAPH_REPORT.md
  graphify-out/2026-08-11/graph.json
  graphify-out/2026-08-11/manifest.json
  graphify-out/GRAPH_REPORT.md
  graphify-out/cache/ast/v0.9.7/01fa843e88b08de4dc2b5e0aa91077e829026bb3f81afed8de60865d1b823d11.json
  graphify-out/cache/ast/v0.9.7/2db988085f0467e376fe86266a278e0acaa3dcb73788f5ebec6425e494101e2e.json
  graphify-out/cache/stat-index.json
  graphify-out/graph.html
  graphify-out/graph.json
  graphify-out/manifest.json
Due: none

build: pin the deployable infrastructure to 2.3.0
  docker-compose.yaml
  helm/mfe-orchestrator/Chart.yaml
  terraform/modules/microfronted-orchestrator-hub.tf
Due: none

docs: write the changelog of the 2.1.0, 2.2.0 and 2.3.0 releases
  CHANGELOG.md
Due: none

ci: upgrade the actions the workflows pin
  .github/workflows/deploy.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/monorepo-build.yml
Due: none

chore(lint): enforce unused-import removal across the whole repo
  backend/src/controller/GlobalVariablesController.ts
  backend/src/models/EnvironmentModel.ts
  backend/src/service/DeploymentService.ts
  backend/src/service/EnvironmentService.ts
  backend/src/service/MicrofrontendService.ts
  backend/src/service/ServeService.ts
  backend/src/service/UserProjectService.ts
  backend/src/service/UserService.ts
  backend/src/types/ApiKeyDTO.ts
  biome.json
  e2e/tests/collaboration/invite-existing-user.spec.ts
  lefthook.yml
  package.json
Due: lint-and-format, typecheck-backend

chore: refresh the knowledge graph
  graphify-out/.graphify_labels.json
  graphify-out/2026-08-11/.graphify_labels.json
  graphify-out/2026-08-11/GRAPH_REPORT.md
  graphify-out/2026-08-11/graph.json
  graphify-out/2026-08-11/manifest.json
  graphify-out/GRAPH_REPORT.md
  graphify-out/cache/ast/v0.9.7/534519f2545ae32a5401a1f58f1da1680fee51a3d91e18a1268e64ef1fa0ccfd.json
  graphify-out/cache/ast/v0.9.7/923f1a8d4060e2626ba599e67091b34272e8dd5512a88cac5c3e3de52136611e.json
  graphify-out/cache/ast/v0.9.7/e88e0c4597d9b91cdcb02a6582e4c7c0e0c6a88bc47cabb2de4a5a813a591001.json
  graphify-out/cache/stat-index.json
  graphify-out/graph.html
  graphify-out/graph.json
  graphify-out/manifest.json
Due: none

fix(backend): encode the whole npm package name in the registry URL
  backend/src/client/NpmRegistryClient.ts
Due: lint-and-format, typecheck-backend

fix(e2e): decode the ampersand entity last in the mail fixture
  e2e/tests/fixtures/emailClient.ts
Due: none

feat: updted claude
  .claude/settings.json
  CLAUDE.md
Due: none

feat: collect the marketing opt-in at registration
  backend/src/controller/ConfigurationController.ts
  backend/src/controller/UserController.ts
  backend/src/models/UserModel.ts
  backend/src/plugins/config.ts
  backend/src/service/UserService.ts
  backend/src/types/ConfigResponseDTO.ts
  backend/src/types/UserRegistrationDTO.ts
  backend/src/types/fastify.d.ts
  e2e/tests/auth/registration.spec.ts
  e2e/tests/fixtures/appUser.ts
  frontend/public/locales/en/platform.json
  frontend/public/locales/it/platform.json
  frontend/src/hooks/apiClients/useUserApi.ts
  frontend/src/pages/auth/SignUp.tsx
  frontend/src/types/ConfigResponseDTO.ts
Due: lint-and-format, typecheck-backend, typecheck-frontend

chore: refresh the knowledge graph
  graphify-out/2026-08-11/.graphify_labels.json
  graphify-out/2026-08-11/GRAPH_REPORT.md
  graphify-out/2026-08-11/graph.json
  graphify-out/2026-08-11/manifest.json
  graphify-out/GRAPH_REPORT.md
  graphify-out/cache/ast/v0.9.7/b858c24c8e9821d3d1ccff2b7a9e2663f3e38fefe1182426c45d1cbb17d7f4e4.json
  graphify-out/cache/ast/v0.9.7/ba0ff83ec2248c090ee4c8f1d5204b8eca4ef7f4f850df629bb94601c40abb81.json
  graphify-out/cache/ast/v0.9.7/eaf2d748a977e942da712696a2414a6e965326d6a682defafeda45ccf3052043.json
  graphify-out/cache/stat-index.json
  graphify-out/graph.html
  graphify-out/graph.json
  graphify-out/manifest.json
Due: none

feat(backend): record the last login date on the user
  backend/src/models/UserModel.ts
  backend/src/plugins/autorization.ts
  backend/src/service/UserProjectService.ts
  backend/src/service/UserService.ts
Due: lint-and-format, typecheck-backend

chore: refresh the knowledge graph
  graphify-out/.graphify_labels.json
  graphify-out/2026-08-11/.graphify_labels.json
  graphify-out/2026-08-11/GRAPH_REPORT.md
  graphify-out/2026-08-11/graph.json
  graphify-out/2026-08-11/manifest.json
  graphify-out/GRAPH_REPORT.md
  graphify-out/cache/stat-index.json
  graphify-out/graph.html
  graphify-out/graph.json
  graphify-out/manifest.json
Due: none

fix(backend): decide a federated access from the token, not from a header
  backend/src/plugins/autorization.ts
Due: lint-and-format, typecheck-backend

test(backend): cover the last login bookkeeping and the token issuer
  .github/workflows/monorepo-build.yml
  backend/package.json
  backend/src/plugins/autorization.test.ts
  backend/src/service/UserService.test.ts
  backend/tsconfig.json
  backend/tsconfig.test.json
  backend/vitest.config.mts
  lefthook.yml
  pnpm-lock.yaml
Due: lint-and-format, typecheck-backend

chore: refresh the knowledge graph
  graphify-out/.graphify_labels.json
  graphify-out/2026-08-11/.graphify_labels.json
  graphify-out/2026-08-11/GRAPH_REPORT.md
  graphify-out/2026-08-11/graph.json
  graphify-out/2026-08-11/manifest.json
  graphify-out/GRAPH_REPORT.md
  graphify-out/cache/ast/v0.9.7/351a558a4091222edfe17bb93e78c727139ef848db3834925503c54c44984557.json
  graphify-out/cache/ast/v0.9.7/7447757f492aebf6c7def5270621a9ca8d69bbff2e643e17619a5a7e579d9ec2.json
  graphify-out/cache/ast/v0.9.7/96dcae667145b017ad3c11883a6e9999cae24836db28b402f4293112f7421e25.json
  graphify-out/cache/stat-index.json
  graphify-out/graph.html
  graphify-out/graph.json
  graphify-out/manifest.json
Due: none

fix(backend): validate the payload of every endpoint
  backend/src/controller/ApiKeyController.ts
  backend/src/controller/AuthorizationController.ts
  backend/src/controller/CodeRepositoryController.ts
  backend/src/controller/DeploymentCanaryUsersController.ts
  backend/src/controller/DeploymentController.ts
  backend/src/controller/EnvironmentController.ts
  backend/src/controller/GlobalVariablesController.ts
  backend/src/controller/IntegrationController.ts
  backend/src/controller/MarketController.ts
  backend/src/controller/MicrofrontendController.ts
  backend/src/controller/MicrofrontendDependencyController.ts
  backend/src/controller/ProjectController.ts
  backend/src/controller/ProjectStateWizardController.ts
  backend/src/controller/ProjectUserController.ts
  backend/src/controller/ServeController.ts
  backend/src/controller/StartupController.ts
  backend/src/controller/StorageController.ts
  backend/src/controller/UserController.ts
  backend/src/schemas/apiKey.schema.ts
  backend/src/schemas/codeRepository.schema.ts
  backend/src/schemas/common.ts
  backend/src/schemas/deployment.schema.ts
  backend/src/schemas/environment.schema.ts
  backend/src/schemas/globalVariables.schema.ts
  backend/src/schemas/microfrontend.schema.ts
  backend/src/schemas/microfrontendDependency.schema.ts
  backend/src/schemas/misc.schema.ts
  backend/src/schemas/project.schema.ts
  backend/src/schemas/projectUser.schema.ts
  backend/src/schemas/routeCoverage.test.ts
  backend/src/schemas/schemas.test.ts
  backend/src/schemas/serve.schema.ts
  backend/src/schemas/startup.schema.ts
  backend/src/schemas/storage.schema.ts
  backend/src/schemas/user.schema.ts
Due: lint-and-format, typecheck-backend

feat: new stuff
  backend/src/controller/UserController.ts
  backend/src/models/UserAvatarModel.ts
  backend/src/service/UserService.ts
  backend/src/types/UserProfileUpdateDTO.ts
  frontend/src/components/ui/Sidebar/partials/UserButton.tsx
  frontend/src/hooks/apiClients/useUserApi.ts
  frontend/src/hooks/useProfilePicture.ts
  frontend/src/pages/profile/partials/PersonalDataSection.tsx
  frontend/src/theme/AuthWrapper.tsx
Due: lint-and-format, typecheck-backend, typecheck-frontend

feat(frontend): give every page its own document head
  frontend/public/locales/en/platform.json
  frontend/public/locales/it/platform.json
  frontend/src/authentication/components/AuthenticationLayout.tsx
  frontend/src/components/PageHead.tsx
  frontend/src/components/SinglePageLayout.tsx
  frontend/src/pages/code-repositories/GitHubCallbackPage.tsx
  frontend/src/pages/error/NotFound.tsx
  frontend/src/pages/new-project-wizard/NewProjectWizard.tsx
Due: lint-and-format, typecheck-frontend

feat: add a build screen with live status per microfrontend
  backend/src/client/AzureDevOpsClient.ts
  backend/src/client/GithubClient.ts
  backend/src/client/GitlabClient.ts
  backend/src/controller/BuildController.test.ts
  backend/src/controller/BuildController.ts
  backend/src/service/BuildStatusService.test.ts
  backend/src/service/BuildStatusService.ts
  backend/src/types/BuildStatusDTO.ts
  frontend/public/locales/en/platform.json
  frontend/public/locales/it/platform.json
  frontend/src/Routes.tsx
  frontend/src/hooks/apiClients/useBuildsApi.ts
  frontend/src/hooks/useApiClient.tsx
  frontend/src/hooks/useEventStream.ts
  frontend/src/pages/builds/Builds.tsx
  frontend/src/pages/builds/partials/BuildRunList.tsx
  frontend/src/pages/builds/partials/BuildStatusBadge.tsx
  frontend/src/pages/builds/partials/BuildStatusTable.tsx
  frontend/src/theme/layout/MainLayout.tsx
Due: lint-and-format, typecheck-backend, typecheck-frontend

chore: refresh the knowledge graph
  graphify-out/2026-08-16/.graphify_labels.json
  graphify-out/2026-08-16/GRAPH_REPORT.md
  graphify-out/2026-08-16/cost.json
  graphify-out/2026-08-16/graph.json
  graphify-out/2026-08-16/manifest.json
  graphify-out/cache/ast/v0.9.7/16e8efe91354f25820be9c56d11eddb83651d20bd41889710f95102a8ab85c53.json
  graphify-out/cache/ast/v0.9.7/3644b3fc04db662f9e195e41bf0df94dbe20b8e5f1f591febd21a5233d4193fb.json
  graphify-out/cache/ast/v0.9.7/566ffbf9de10038cafed5b3129dcfba8b774b82398b369a916eae2c6764db123.json
  graphify-out/cache/ast/v0.9.7/caaf2c56a116e12abc97d72c727985498a5569dc9ec91ebd055a8153dc85e575.json
  graphify-out/cache/stat-index.json
  graphify-out/graph.html
Due: none

fix(backend): serve microfrontend files on the resolved environment
  backend/src/controller/ProjectUserController.ts
  backend/src/errors/EntityNotFoundError.ts
  backend/src/errors/EnvironmentNotFoundError.ts
  backend/src/errors/ProjectNotFoundError.ts
  backend/src/plugins/errorHandler.test.ts
  backend/src/service/DeploymentService.ts
  backend/src/service/EnvironmentService.ts
  backend/src/service/MicrofrontendService.ts
  backend/src/service/ProjectService.ts
  backend/src/service/ServeService.ts
  backend/src/service/UserProjectService.ts
Due: lint-and-format, typecheck-backend

chore: refresh the knowledge graph
  graphify-out/.graphify_labels.json
  graphify-out/2026-08-16/.graphify_labels.json
  graphify-out/2026-08-16/GRAPH_REPORT.md
  graphify-out/2026-08-16/graph.json
  graphify-out/2026-08-16/manifest.json
  graphify-out/GRAPH_REPORT.md
  graphify-out/cache/stat-index.json
  graphify-out/graph.html
  graphify-out/graph.json
  graphify-out/manifest.json
Due: none

feat(service): write backendUrl and projectId into the generated config
  backend/src/service/FederationConfigService.ts
  backend/src/service/FederationIntegrationService.ts
  backend/src/service/ServeService.ts
  backend/src/utils/backendUrl.ts
Due: lint-and-format, typecheck-backend

refactor(backend): drop the unregistered error handler
  backend/src/middleware/errorHandler.ts
Due: lint-and-format, typecheck-backend

chore: refresh the knowledge graph
  graphify-out/.graphify_labels.json
  graphify-out/2026-08-16/.graphify_labels.json
  graphify-out/2026-08-16/GRAPH_REPORT.md
  graphify-out/2026-08-16/graph.json
  graphify-out/2026-08-16/manifest.json
  graphify-out/GRAPH_REPORT.md
  graphify-out/graph.html
  graphify-out/graph.json
  graphify-out/manifest.json
Due: none

feat(canary): rework the canary into random, session and user
  backend/postbuild.js
  backend/src/models/MicrofrontendModel.test.ts
  backend/src/models/MicrofrontendModel.ts
  backend/src/plugins/noSQL.ts
  backend/src/service/ServeService.ts
  backend/src/templates/canary/is-canary.template.js
  backend/src/templates/canary/user-id.template.js
  backend/src/utils/migrations.ts
  frontend/public/locales/en/platform.json
  frontend/public/locales/it/platform.json
  frontend/src/hooks/apiClients/useCanaryUsersApi.ts
  frontend/src/hooks/apiClients/useDeploymentsApi.ts
  frontend/src/hooks/apiClients/useMicrofrontendsApi.ts
  frontend/src/pages/deployments/CanaryUsers.tsx
  frontend/src/pages/deployments/partials/DeploymentMicrofrontendCard.tsx
  frontend/src/pages/microfrontends/AddMicrofrontend.tsx
  frontend/src/pages/microfrontends/partials/components/CanarySection.tsx
  frontend/src/pages/microfrontends/partials/components/MicrofrontendCard.tsx
  frontend/src/pages/microfrontends/partials/components/ReleaseSection.tsx
  frontend/src/pages/microfrontends/partials/components/index.ts
  frontend/src/pages/microfrontends/partials/labels.ts
  frontend/src/pages/microfrontends/partials/views/MicrofrontendsTable.tsx
Due: lint-and-format, typecheck-backend, typecheck-frontend

feat(integration): address the global variables script by project
  backend/src/service/FederationIntegrationService.ts
  backend/src/utils/globalVariablesScript.test.ts
  backend/src/utils/globalVariablesScript.ts
  frontend/src/pages/integration/Integration.tsx
  frontend/src/pages/integration/partials/components/IntegrateMicrofrontendsDialog.tsx
  frontend/src/pages/integration/partials/views/EnvironmentVariablesIntegration.tsx
  frontend/src/pages/microfrontends/partials/views/MicrofrontendsFlow.tsx
Due: lint-and-format, typecheck-backend, typecheck-frontend

chore: refresh the knowledge graph
  graphify-out/.graphify_labels.json
  graphify-out/2026-08-16/.graphify_labels.json
  graphify-out/2026-08-16/GRAPH_REPORT.md
  graphify-out/2026-08-16/graph.json
  graphify-out/2026-08-16/manifest.json
  graphify-out/GRAPH_REPORT.md
  graphify-out/cache/ast/v0.9.7/12e4c62da759e820e5937f52e0f22bd8061701e2e9c305ad153d6fff97139cfe.json
  graphify-out/cache/ast/v0.9.7/639454d6a8773c598b5196de5c866f18488417e9adc3d803fe3ac3a788c8887b.json
  graphify-out/cache/ast/v0.9.7/775979e4a54f72a8e32be034455e4dff6ae9b4b8de873046b0bac8b56bdb6911.json
  graphify-out/cache/ast/v0.9.7/841dc5ecdf74a1b01f07beaab01366095ef3deb578c3f985dc9b1aab82aa6aa6.json
  graphify-out/cache/ast/v0.9.7/a3bb74e56c50437ab216ac95e38f95bb71defb9eacda7747581cc95913d429b2.json
  graphify-out/cache/ast/v0.9.7/f2b3363e9ec7efcabf4f12b52b2e946502d7d5fb0e1521363b7939b7fe0e2cf7.json
  graphify-out/cache/stat-index.json
  graphify-out/graph.html
  graphify-out/graph.json
  graphify-out/manifest.json
Due: none

refactor(frontend): redraw the microfrontend graph nodes
  frontend/src/pages/microfrontends/partials/views/MicrofrontendFlowNode.tsx
  frontend/src/pages/microfrontends/partials/views/MicrofrontendsFlow.tsx
Due: lint-and-format, typecheck-frontend
